<script type="text/javascript"> 
function size(t) {
	a = t.value.split('\n');
	b=1;
	for (x=0;x < a.length; x++) {
 		if (a[x].length >= t.cols) b+= Math.floor(a[x].length/t.cols);
 	}

	b+= a.length;
	if (b > t.rows) t.rows = b;
}
function showAnswer(id) {
	if(document.getElementById("answer-" + id).style.display == 'block') {
		$("#answer-" + id).fadeOut(); //Hide content
		document.getElementById("answer-" + id).style.display = 'none'		
	} else {
		$("#answer-" + id).fadeIn(); //Show content
		document.getElementById("answer-" + id).style.display = 'block'
	}			
}
</script>
<ul class="list-recent-questions product-tabs">
<% if @questions.nil? || @questions.size == 0 %>	
	<li>
		<div>
			There is no question for this product yet. Be the first one to ask a question.
		</div>
	</li>
<% else %>
	<% @questions.each do |question| %>
	<li>		
		<div class="questions-block" style="border-bottom:0px; padding-bottom:0px;">
		    <div class="questions-img">
				<%= image_tag current_profile_image_thumbnail_url(question.user), :width => 50, :title => question.user.full_name %>
			</div>
		    <div class="questions-content">
				<%= link_to question_path(question, :my_collection_item_id => my_collection_item, :product_id => @product), :remote => true do %><strong><%= question.title %></strong><% end %> asked by <%= link_to question.user.full_name, profile_member_url(question.user) %> <%= question.lapsed_time %>
		    </div>
		    <div class="clear"></div>
		</div>
		<div class="answer-wrapper">
			<div class="answers-meta">
				<%= render :partial => 'questions/answers_meta_info', :locals => { :question => question }%>
				<span>
					<strong>
						<a href="javascript:onClick=showAnswer(<%= question.id %>)" title="Answer">Answer now</a>
					</strong>
				</span>
			</div>
		</div>
		<div id="answer-<%= question.id %>" style="display:none">		
			<%= render :partial => 'questions/answer_a_question', :locals => { :question => question } %>
		</div>
	</li>
	<% end %>
<% end %>
</ul> 
<div class="left"><p class="total"><%= (page_entries_info @questions, :entry_name => "questions").html_safe %></p></div>
<div class="right">
	<div id="pagination">
		<%= paginate @questions %>
	</div>
</div>

