<script type="text/javascript">
function size(t) {
	a = t.value.split('\n');
	b=1;
	for (x=0;x < a.length; x++) {
 		if (a[x].length >= t.cols) b+= Math.floor(a[x].length/t.cols);
 	}

	b+= a.length;
	if (b > t.rows) t.rows = b;
};
</script>
<% 
	@my_collection = MyCollection.new
	@my_collection.user = user
%>
<%= form_for MyCollection.new do |f| %>
	<label for="tiptitle">Name</label><%= f.text_field :name, :class => "text" %>
    <%= f.label :description %><%= f.text_area :description, :cols => 35, :rows => 5, :class=> "answer_area", :onKeyUp => "size(this);" %>

	<%= hidden_field :my_collection, :user_id %>
	<div class="actions">
		<%= f.submit 'Submit', :class => "submit-tip-button" %>
	</div>
<% end %>
