<ul>
	<li>Collection Items<span><%= my_collection.my_collection_items.size %></span></li>
	<li id="follower" class="alt">Followers<span id="follower-stat-my-collection-<%= my_collection.id %>"><%= my_collection.followers.size %></span></li>
	<li id="response" class="noborder">Likes<span id="response-stat-my-collection-<%= my_collection.id %>"><%= my_collection.responses.size %></span></li>
</ul>
