<script type="text/javascript">
function setProduct(productName, productId) {
	var productNameElement = document.getElementById("product_name");
	productNameElement.innerText = productName;
	
	var productIdElement = document.getElementById("my_collection_detail_product_id");
	productIdElement.value = productId;
}
</script>
<h2><b>Listing My Collection</b></h2>
<br/>
<p style="color: green"><%= notice %></p>
<div id="my_collection_details">
	<% @count = 0 %>
	<table>
	<% @my_collection_details.each do |my_collection_detail| %>
	<% if @count % 4 == 0 %>
	  <tr>
	<% end %>
		<td align="center">
			<img src="<%= my_collection_detail.product.photo.url(:small) %>">
		</td>
	    <td><%= my_collection_detail.product.name %><br/>
			<%= link_to 'Show', my_collection_detail %><br/>
	    	<%= link_to 'Edit', edit_my_collection_detail_path(my_collection_detail) %><br/>
	    	<%= link_to 'Destroy', my_collection_detail, :confirm => 'Are you sure?', :method => :delete %>
		</td>
	<% if @count % 4 == 3 %>
	  </tr>
	<% end %>
	<% @count += 1 %>	
	<% end %>
	</table>
	<!-- %= render :partial => "my_collection_details/index", :collection => @my_collection_details % -->
</div>

<br />
<hr/>

<div class="unit on-2 columns">
	<div id="product_list" class="column">
		<h2><b>Apple's products</b></h2>
		<% @count = 0 %>
		<table>
		<% @products.each do |product| %>
		<% if @count % 3 == 0 %>
			<tr>
		<% end %>
				<td align='center'>
					<div>
						<a href="#" onClick="setProduct('<%= product.name %>', <%= product.id %>)">
							<img src="<%= product.photo.url(:thumb) %>" />
						</a>
						<br><%= content_tag :p, product.name, :id => product.name %>
					</div>
				</td>
		<% if @count % 3 == 2 %>
			</tr>
		<% end %>
		<% @count += 1 %>	
		<% end %>
		</table>
	</div>
	<div id="product_info" class="column">
		<% form_for (@my_collection_detail) do |f| %>
		<table>
			<tr>
				<td><%= label_tag 'product' %>: </td><td><p id="product_name"></p></td>
			</tr>
			<tr>
				<td><%= label_tag 'purchased_in' %>: </td><td><%= f.text_field :purchased_in %></td>
			</tr>
			<%= f.hidden_field :product_id %>
			<%= f.hidden_field :my_collection_id, :value => @my_collection.id %>
			<tr>
				<td colspan="2" align="right"><p><%= submit_tag 'Add' %></p></td>
			</tr>
		</table>
		<% end %>
	</div>
</div>
