<style>
	.inactive { 
		opacity: 0.4;
		-moz-opacity: 0.4;
		filter:alpha(opacity=40);
	}

	.spotlight {
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=1);
	}
	
	.selected {
		//border: 3px solid #6DB132;
		//border: 3px solid #e3d7a9;
		border: 3px solid #da5d18;
		opacity: 1;
		-moz-opacity: 1;
		filter:alpha(opacity=1);
	}
	
	.productimage:hover {
		cursor: pointer;
	}
	
	.clear { clear:both; } /* to clear the float after the last item */  
</style>
<script type="text/javascript">
//We are using $(window).load here because we want to wait until the images are loaded   
$(window).load(function(){   

	// Be default, it is dimmed.		
    //when mouse over the list item...   
	$('.product-grid ul li').hover(function() {   	  
      //...find the image inside of it and turn on the spotlight
		$(this).toggleClass('spotlight', true);			
	}, function() {   		  
		// when mouse leave...   
		// turn off the spotlight
		$(this).toggleClass('spotlight');
	});   

	// When clicking on an image...
	$('.product-grid ul li span.productimage').click(function() {
		$(this).toggleClass('selected'); 
		if ($(this).hasClass('selected')) {
			$(this).parents('li').removeClass('inactive');
			$(this).find('.product_id').attr('value', $(this).find('.product_name').attr("value"))
		} else {
			$(this).parents('li').addClass('inactive');
			$(this).find('.product_id').attr('value', '')
		}
	});
	  
	//when mouse leaves the unordered list...   
	$('.product-grid').bind('mouseleave',function(){   
		//find the images and change the opacity to 1 (fully visible)   
		//$(this).find('ul li').find('img').toggleClass();
	});			  
  			 	  
	//when click on the "Next" button
	$('#next').click(function() {			  		
		$('.product-grid ul li').each(function(index) {
			if ($(this).hasClass('selected')) {
				//alert(index + ': ' + $(this).find('a').attr("name"));
				//alert(Index + ": " + $(this).find('.product_id').attr("value"))
			}
		});
	});

	// Validate the form if needed.
//	$('#mass-new-collections-form').submit(function() {
//		alert('Handler for .submit() called.');
//		return false;
//	});

});		
</script>
			
<% title "Step 3 - Set up your collections" %>
<%= render :partial => 'registrations/signup_steps', :locals => { :step1_switch => "", :step2_switch => "", :step3_switch => "ON" } %>

<div class="wrapper-mh">
	<div id="step2" class="home-signup" style="margin-top: 35px; width: 978px; height: auto;">
		<div class="home-signup-th" style="text-transform: none;">Do you like one of these? Pick some to build your collections now</div>	
        <div class="product-grid"> 	
			<%= form_for @my_collection, :url => mass_create_my_collections_path, :html => { :id => "mass-new-collections-form", :class => "home-signupform" } do |f| %>
			<div style="border: 0px solid black;">
				<ul class="list-my-collections">
					<% count = 0 %>				
					<% @products.each do |product| %>
					<li class="inactive">
						<div class="center">
							<%= f.fields_for :my_collection_items do |builder| %>		
							<span class="productimage shadow">								
								<%= hidden_field_tag 'product['+product.name+']', product.id, :class => 'product_name' %>						
								<%= builder.hidden_field :product_id, :class => 'product_id' %>
								<%#= image_tag product.thumbnail.url(:small), :width => "180", :height => "160" %>
								<% if product.thumbnail.present? %>
									<%= image_tag product.thumbnail.url(:small), :width => "180", :height => "160" %>
								<% elsif product.image_url.present? %>
									<%= image_tag product.image_url, :width => "180" %>
								<% else %>
									<%= image_tag "/images/product/no-image_medium.jpg", :width => "180" %>
								<% end %>										
							</span>
							<span>
								<%= product.name %>
							</span>
							<% end %>					
						</div>
						<%# end %>				
					</li>
					<%
						count = count + 1
						if count % 4 == 0
					%>
						<hr style="width: 100%; height: 1px; border: 1px solid white; margin: 0px 5px 0px 0px;"/>
					<% 
						end 
					%>					
					<% end %>
					<div class='clear'></div>  															
				</ul>
			</div>
			<br/>
			<div style="padding-left: 17px;">
		    	<%= submit_tag "Submit", :class => "button-green", :id => "mass-create-collections" %> 
			</div>
			<% end %>
		</div>
		<div style="height: 20px; clear: both; text-align: right; margin-top: 10px; padding-right: 10px; padding-top: 15px; padding-bottom: 5px;">
			<%= link_to "Ok, I am done.", skip_my_collection_path(1) %>
		</div>																
	</div>																		
</div>    
