<% title @my_collection.name %>
<script type="text/javascript">  
$(document).ready(function() {
    $(document).pngFix(); 
 
	//Default Action
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content
});
</script>
<body class="subpage">
	<div id="grey-strip-signedin">
		<div class="wrapper-top">
			<%= render :partial => 'layouts/navigation', :locals => { :user => @user, :item => "Collections" } %>
		</div>
	</div>
	
	<div class="wrapper-mh">
		<div class="maincol">
	    	<div class="product-item sidebar-content">		
		        <div class="product-image">		        
					<%= image_tag @my_collection.thumbnail.url(:medium), :width => "200", :class => "preview-image" %>
					<!-- img src="/images/product/no-image_60x60.jpg" alt="Product Image" width="60" height="60" -->
			    </div>
		        <div class="product-detail">
			        <div>
						<p class="left"><h3 style="text-align: left;"><%= @my_collection.name %></h3></p>
					</div>
					<p><%= @my_collection.description %></p>	
					<% if @user == current_user %>				
					<p>
						<div id="add_wishlist">
							<%= link_to 'Edit Collection', edit_member_my_collection_path(current_user, @my_collection), :class => "button-green", :id => "add-wishlist", :title => "Edit Collection" %>
						</div>						
					</p>
					<% end %>					
					<div class="product-stat-details">
						<ul>
							<li>Collection Items<span><%= @my_collection.my_collection_items.size %></span></li>
							<li class="alt">Recommendations<span>2</span></li>
							<li class="noborder">Like<span><%= @my_collection.my_collection_responses.vote_like.size %></span></li>
						</ul>
					</div>
		        </div>
			    <br class="clear" />
			</div>			
			
		<% @my_collection_items = @my_collection.my_collection_items %>
		<% if @my_collection_items.empty? %>
			<div class="tabbed-content-area">
				<ul class="tabs"> 
			        <li><a href="#tab1">Collection Items</a></li> 
				</ul> 		
		        <div id="tab1" class="tab_content product-grid group"> 
	            	<div id="search-result" class="no-result">
		                <p>
		                	You do not have any items yet. Add one now.
		                </p>	
	            	</div>
				</div>
			</div>
		<% else %>	
			<div class="tabbed-content-area">
				<ul class="tabs"> 
			        <li><a href="#tab1">Collection Items</a></li> 
				</ul> 		
		        <div id="tab1" class="tab_content product-grid group"> 
					<ul class="list-my-collections">
						<% @my_collection_items.each do |my_collection_item| %>
						<!--li class="my_collection_item"-->
						<li>
							<%= link_to my_collection_item_product_path(my_collection_item, my_collection_item.product) do %>							
								<span class="right">
									<%= link_to 'delete', my_collection_my_collection_item_path(@my_collection, my_collection_item), :method => 'delete' %>
								</span>							
								<div class="center">
									<span class="productimage">
										<%= link_to my_collection_item_product_path(my_collection_item, my_collection_item.product) do %>
											<%= image_tag my_collection_item.product.thumbnail.url(:medium), :width => "150" %>
										<% end %>
									</span>
									<span>
										<%= link_to my_collection_item_product_path(my_collection_item, my_collection_item.product) do %>
											<%= my_collection_item.product.name %>
										<% end %>
									</span>
								</div>
							<% end %>
						</li>
						<% end %>												
					</ul>
				</div>
			</div>
		<% end %>		
		</div>
		
		<div class="sidebar">			
			<%= render :partial => 'products/product_search', :locals => { :my_collection => @my_collection } %>
		</div>

		<div class="sidebar">			
			<!--div class="sidebar-content" id="new-product">				
				<div class="sidebar-header">
					People who own
				</div>	
				<div class="sidebar-inner">
			    	<ul>
					<%# for row in @search.facet(:product_name).rows %>
						<li>
							<%#= row.value %>(<%#= row.count %>)
						</li>
					<%# end %>
					</ul>
				</div>
			</div--><!-- #see who has similar products in his network -->			

			<% @my_collection_items.each do |my_collection_item| %>
			<div class="sidebar-content">				
				<div class="sidebar-header">
					<%= pluralize(my_collection_item.product.people_who_owned.size, 'person') %> who own <%= link_to my_collection_item.product.name, my_collection_item.product %>
				</div>	
				<div class="user-grid">
			    	<ul>
						<% my_collection_item.product.people_who_owned.each do |person| %>
						<li>
							<%= link_to profile_member_path(person) do %>
								<%= image_tag avatar_url(person, 50), :width => 50, :title => person.full_name %>
							<% end %>
						</li>
						<% end %>
					</ul>
				</div>
			</div><!-- #see who has similar products in his network -->			
			<% end %>												
		</div>

	<!--	
		<div class="sidebar">			
			<div class="sidebar-content">
				<ul class="tabs2"> 
	        		<li><a href="#tab5">Add a new product</a></li> 
		    	</ul> 
		    	
				<div id="tab5" class="tab_content2"> 
        			<div class="padding">
						<form name="form1" method="post" action="">
							<label for="tiptitle">Tip Title:</label><input type="text" name="textfield" id="textfield" class="text">
							<label for="yourtip">Your Tip:</label><textarea name="" cols="" rows=""></textarea>
							<label for="tiptag">Tip Tag:</label><input type="text" name="textfield" id="textfield" class="text" style="margin-bottom:18px;">
						  	<label> </label>
							<span class="submit-tip-button">
								<input name="Submit" type="button" value="Submit Your Tip" class="submit-tip-button" />
							</span>			
						</form>
					</div>
				</div>		 
			</div>
		</div>
	-->
	</div>
</body>
<script type="text/javascript">
$(window).load(function() {
    $('#my-collection-slider').nivoSlider({
        effect:'fade', //Specify sets like: 'fold,fade,sliceDown'
        slices:15,
        animSpeed:500, //Slide transition speed
        pauseTime:15000,
        startSlide:0, //Set starting Slide (0 index)
        directionNav:true, //Next & Prev
        directionNavHide:false, //Only show on hover
        controlNav:false, //1,2,3...
        controlNavThumbs:false, //Use thumbnails for Control Nav
        controlNavThumbsFromRel:false, //Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', //Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
        keyboardNav:true, //Use left & right arrows
        pauseOnHover:true, //Stop animation while hovering
        manualAdvance:true, //Force manual transitions
        captionOpacity:1.0, //Universal caption opacity
        beforeChange: function(){},
        afterChange: function(){},
        slideshowEnd: function(){}, //Triggers after all slides have been shown
        lastSlide: function(){}, //Triggers when last slide is shown
        afterLoad: function(){} //Triggers when slider has loaded
    });
});
</script>