<style type="text/css">
#ask_now {
	cursor: pointer;
}
</style>
<script type="text/javascript">
</script>
<div class="sidebar-content">				
<% @my_collection_items = @user.my_collection_items %>
<% if !@my_collection_items.nil? and @my_collection_items.size > 0 %>
	<div class="sidebar-header">
		Got questions?
	</div>	
	<div id="question" class="product-grid" style="margin: 17px; border: 0px;">
    	<ul>
		<% @my_collection_items.each do |my_collection_item| %>
  			<li id="<%= my_collection_item.id %>" class="not-selected-product">	
				<%= link_to '#', :id => 'product_question_link' do %>	
				<% if my_collection_item.thumbnail.present? %>
					<%= image_tag my_collection_item.thumbnail.url(:medium), :size => "64x64", :class => "preview-image", :id => my_collection_item.product.id, :title => my_collection_item.product.name %>
				<% else %>
					<%= image_tag my_collection_item.product.thumbnail.url(:medium), :size => "64x64", :class => "preview-image", :id => my_collection_item.product.id, :title => my_collection_item.product.name %>
				<% end %>
				
				<% end %>
			</li>
		<% end %>
		</ul>
	</div>

	<div class="sidebar-question">
		<%= form_for Question.new, :as => :question, :url => questions_path, :html => { :id => "sidebar-question-form", :class => "question-form" } do |f| %>
			<%#= f.hidden_field 'product_id', nil %>
			<%= f.hidden_field :product_id %>
			<%= hidden_field_tag 'page_id', 'Home' %>
			<%= hidden_field_tag 'my_collection_item_id', nil %>			
			<%= f.text_field :title, :placeholder => 'Ask a question now' %>
			<p>
				<%= submit_tag 'Ask', :id => 'ask_now' %>
			</p>			
		<% end %>	
	</div>
<% else %>
	<div class="sidebar-header">
		Get Started
	</div>	
	<div id="question" class="product-grid" style="margin: 17px; border: 0px;">
		<div>Start building your collection now</div>
		<div><%= link_to 'Go', collections_member_path(current_user) %></div>
	</div>
<% end %>	
</div><!-- #see who has similar products in his network -->			
