<style type="text/css">
#ask_now {
	cursor: pointer;
}
</style>
<script type="text/javascript">
$(document).ready(function() {
	$("#my_collection_link img").click(function() {
		// Selected
		$(this).toggleClass('selected-product', true); 
		if ($(this).hasClass('selected-product')) {
			$(this).parents('li').removeClass('not-selected-product');
			$(this).parents('li').siblings().removeClass('selected-product');
			$(this).parents('li').siblings().addClass('not-selected-product');
			$('#my_collection_item_my_collection_id').attr('value', $(this).parents('li').attr("id"))
		} else {
			$(this).parents('li').addClass('not-selected-product');			
		}
	});
});
</script>
<div class="sidebar-content">
	<div class="sidebar-header">
		Select a collection
	</div>		
	<div id="question" class="product-grid" style="margin: 17px; border: 0px;">
    	<ul>
		<% my_collections.each do |my_collection| %>
			<% if current_my_collection != my_collection %>
  			<li id="<%= my_collection.id %>" class="not-selected-product">	
				<%= link_to "#", :id => 'my_collection_link' do %>
					<%= image_tag my_collection.thumbnail.url(:medium), :size => "64x64", :class => "preview-image", :id => my_collection.id, :title => my_collection.name %>
				<% end %>
			</li>
			<% else %>
  			<li id="<%= my_collection.id %>" class="selected-product">	
				<%= link_to "#", :id => 'my_collection_link' do %>
					<%= image_tag my_collection.thumbnail.url(:medium), :size => "64x64", :class => "preview-image", :id => my_collection.id, :title => my_collection.name %>
				<% end %>
			</li>
			<% end %>
		<% end %>
		</ul>
	</div>
</div><!-- #see who has similar products in his network -->			
