<style type="text/css">
#ask_now {
	cursor: pointer;
}
</style>
<script type="text/javascript">
</script>
<div class="sidebar-content">				
	<div class="sidebar-header">
		Also in <%= link_to my_collection_path(current_my_collection_item.my_collection) do %><%= word_wrap(current_my_collection_item.my_collection.name, :line_width => 8) %><% end %>
	</div>	
	<% @my_collection_items = current_my_collection_item.my_collection.my_collection_items %>
	<div id="question" class="product-grid" style="margin: 17px; border: 0px;">
    	<ul>
		<% @my_collection_items.each do |my_collection_item| %>
			<% if current_my_collection_item != my_collection_item %>
  			<li id="<%= my_collection_item.id %>">	
				<%= link_to product_my_collection_item_path(my_collection_item.product, my_collection_item), :id => 'product_question_link' do %>
					<%= image_tag my_collection_item.product.thumbnail.url(:medium), :size => "64x64", :class => "preview-image", :id => my_collection_item.product.id, :title => my_collection_item.product.name %>
				<% end %>
			</li>
			<% end %>
		<% end %>
		</ul>
	</div>
</div><!-- #see who has similar products in his network -->			
