<style type="text/css">
	#action_link {
		text-align: right;
		border: 0px solid black;
		display: none;
	}
</style>
<ul id="collection-items" class="list-my-collections">
	<% my_collection_items.each do |my_collection_item| %>
	<li>
		<%= link_to(my_collection_item) do %>
			<span class="right">
				<% if mode == "edit" %>
					<%= link_to 'delete', my_collection_item, :method => 'delete', :class => "edit_link" %>
				<% else %>				
					<%= link_to '#', my_collection_item, :method => 'show', :id => "action_link", :class => "edit_link" %>
				<% end %>
			</span>															
			<div class="center">
			<span class="productimage">
				<%= link_to product_my_collection_item_path(my_collection_item.product, my_collection_item) do %>
					<%#= image_tag my_collection_item.product.thumbnail.url(:medium), :width => "150", :height => "150", :title => "#{my_collection_item.product.name}" %>
					<% if my_collection_item.product.thumbnail.present? %>
						<%= image_tag(my_collection_item.product.thumbnail.url(:medium), :size => "150x150") %>
					<% elsif my_collection_item.product.image_url.present? %>
						<%= image_tag(my_collection_item.product.image_url, :size => "150x150" %>
					<% else %>
						<%= image_tag "/images/product/no-image_medium.jpg", :size => "150x150" %>
					<% end %>
					
				<% end %>
			</span>								
			</div>								
			<span>
				<%= link_to product_my_collection_item_path(my_collection_item.product, my_collection_item) do %>
					<p><%= simple_format(word_wrap(my_collection_item.product.name, :line_width => 50)) %></p>
				<% end %>				        	
			</span>
			<span class="right">
				<span>
					<%= pluralize(my_collection_item.product.responses.size, "like") %> | <%= pluralize(my_collection_item.product.comments.size, "comment") %>
				</span>
			</span>																		
		<% end %>
	</li>							
	<% end %>	
</ul>


