<% title @product.name %>
<style type="text/css">
#suggest_where_to_buy {
	text-decoration: underline;
	cursor: pointer;
}
#backgroundPopup {
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:1;
}
#popupMyCollection {
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
//	width:808px;
	background:#f6f1de;
	border:2px solid #cecece;
	z-index:2;
	padding:12px;
	font-size:13px;
}

#popupMyCollectionClose {
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#5c5c5c;
	font-weight:700;
	display:block;
}
</style>
<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://eclipse.macabolic.com/" : "http://eclipse.macabolic.com/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
	var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 3);
} catch( err ) {}
</script>
<noscript><p><img src="http://eclipse.macabolic.com/piwik.php?idsite=3" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->

<script type="text/javascript"> 
!function(d,s,id) {
	var js,fjs=d.getElementsByTagName(s)[0];
	if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

//SETTING UP OUR POPUP
//0 means disabled; 1 means enabled;
var popupStatus = 0;

//loading popup with jQuery magic!
function loadPopup(){
	//loads popup only if it is disabled
	if(popupStatus==0){
		$("#backgroundPopup").css( {"opacity": "0.7"} );
		$("#backgroundPopup").fadeIn("slow");
		$("#popupMyCollection").fadeIn("slow");
		popupStatus = 1;
	}
}

//disabling popup with jQuery magic!
function disablePopup(){
	//disables popup only if it is enabled
	if(popupStatus==1){
		$("#backgroundPopup").fadeOut("slow");
		$("#popupMyCollection").fadeOut("slow");
		popupStatus = 0;
	}
}

//centering popup
function centerPopup(){

	//request data for centering
	var windowWidth = document.documentElement.clientWidth;
	var windowHeight = document.documentElement.clientHeight;
	var popupHeight = $("#popupMyCollection").height();
	var popupWidth = $("#popupMyCollection").width();
	//centering
	$("#popupMyCollection").css({
		"position": "absolute",
		"top": windowHeight/2-popupHeight/2,
		"left": windowWidth/2-popupWidth/2
	});
	//only need force for IE6

	$("#backgroundPopup").css( {"height": windowHeight} );
} 

$(document).ready(function() {
 	$(document).pngFix(); 

	//Default Action
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content
	
	//Default Action

	$(".tab_content2").hide(); //Hide all content
	$("ul.tabs2 li:first").addClass("active").show(); //Activate first tab
	$(".tab_content2:first").show(); //Show first tab content

	//Default Action
//	$(".tab_content3").hide(); //Hide all content
//	$("ul.tabs3 li:first").addClass("active").show(); //Activate first tab
//	$(".tab_content3:first").show(); //Show first tab content
	
	//On Click Event
	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content
		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active content
		return false;
	});
	
	//On Click Event
	$("ul.tabs2 li").click(function() {
		$("ul.tabs2 li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content2").hide(); //Hide all tab content
		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active content
		return false;
	});

	//On Click Event
//	$("ul.tabs3 li").click(function() {
//		$("ul.tabs3 li").removeClass("active"); //Remove any "active" class
//		$(this).addClass("active"); //Add "active" class to selected tab
//		$(".tab_content3").hide(); //Hide all tab content
//		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
//		$(activeTab).fadeIn(); //Fade in the active content
//		return false;
//	});

    //Input Form placeholder
    $('input:text').focus(function(){
        if(this.value === this.defaultValue) {
            this.value = "";
        } else {
            this.select();
        }
    })
    .blur(function(){
        if ($.trim(this.value) === "") {
            this.value = (this.defaultValue ? this.defaultValue: "")
        }
    });

	//LOADING POPUP
	//Click the button event!
	$(".do_you_have_one").click(function(){
		$("#interest_indicator").attr('value', 1);
		//centering with css
		centerPopup();
		//load popup
		loadPopup();
	});

	$(".do_you_wish_one").click(function(){
		$("#interest_indicator").attr('value', 2);
		//centering with css
		centerPopup();
		//load popup
		loadPopup();
	});
	
	//CLOSING POPUP
	//Click the x event!
	$("#popupMyCollectionClose").click(function(){
		disablePopup();
	});
	
	//Click out event!
	$("#backgroundPopup").click(function(){
		disablePopup();
	});
	
	//Press Escape event!
	$(document).keypress(function(e){
		if(e.keyCode==27 && popupStatus==1) {
			disablePopup();
		}
	});
/*	
	$("#product-gallery").hover(function() {
		$("#add_wishlist").fadeIn(1000);
	}, function() {
		$("#add_wishlist").fadeOut(5000);
	});

	$("#add_wishlist").hover(function() {
		$("#add_wishlist").css("display", "inline");
	}, function() {
		$("#add_wishlist").css("display", "none");
	});
*/
	$("#suggest_where_to_buy").click(function() {
		if ($("#suggest_where_wrapper").css("display") == "inline") {
			$("#suggest_where_wrapper").fadeOut();
			$("#suggest_where_wrapper").css("display", "none");
		} else {
			$("#suggest_where_wrapper").fadeIn();
			$("#suggest_where_wrapper").css("display", "inline");
		}
	});

	$('#suggest_where_form').submit(function() {
		$("#suggest_now").fadeOut();
		$("#suggest_now").css("display", "none");

		$("#buy_now").fadeIn();
		$("#buy_now").css("display", "inline");
	});

	$("#buy_now").click(function() {
		piwikTracker.trackGoal(1);
	});

});
</script>

<!-- FACEBOOK LIKE BUTTON INITIALIZER -->	
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= FACEBOOK_APP_ID %>";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
<!-- END OF FACEBOOK LIKE BUTTON INITIALIZER-->	

<% if user_signed_in? %>
<div id="grey-strip-signedin">
	<div class="wrapper-top">
		<%= render :partial => 'layouts/navigation', :locals => { :user => @user, :item => "Collections" } %>
	<%# else %>
		<%#= render :partial => 'layouts/navigation', :locals => { :user => nil, :item => "" } %>
	</div>
</div>
<% end %>

<div class="wrapper-mh">
	<% if !user_signed_in? %>
	<div>
		<%= render :partial => "home/learn_more" %>	
	</div>
	<% end %>
	<div class="maincol"> 
    	<div class="product-item sidebar-content" style="overflow: visible">	         
			<div class="product-image">
				<div id="product-gallery">
					<%= render :partial => 'my_collection_items/product_preview_gallery', :locals => { :my_collection_item => @my_collection_item } %>
				</div>
	        </div>			
	        <div class="product-detail">
	            <div>
					<p class="left"><h3 style="text-align: left; line-height: 27px;"><%= @product.name %></h3></p>
				</div>
				<p>from <span class="vendor"><%= link_to @product.vendor.name, store_path(@product.vendor) %></span></p>
			<% if @product.discoverer.present? %>
				<p class="discover">discovered by <%= link_to @product.discoverer.full_name, member_path(@product.discoverer) %></p>
			<% end %>
				<!--<p>Used since: <span>2010</span></p>-->
				<p><%= @product.description %></p>		
				
				<!-- FACEBOOK LIKE AND TWITTER BUTTONS -->
				<div style="margin: 5px;">
					<div style="overflow: visible;" class="fb-like social" data-href="<%= product_url(@product) %>" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-action="recommend" data-font="verdana"></div>
					<a href="https://twitter.com/share" class="twitter-share-button social" data-url="<%= product_url(@product) %>" data-text="This <%= @product.name %> is one of my favorite item. Do you like it too? Comment on @macabolic." data-counturl="<%= product_url(@product) %>" data-via="macabolic" data-count="horizontal" data-lang="en">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
				</div>
				<!-- END OF FACEBOOK LIKE AND TWITTER BUTTONS -->
				
				<% if @user.present? || current_user.present? %>
										
					<% if (@user == current_user || @user != current_user) && user_signed_in? %>
		            <p>
						<!-- I like / unlike one -->
						<div id="response-product-<%= @product.id %>">
						<% if @product.like?(current_user) %>					
							<%= link_to 'Unlike', unlike_product_path(@product, :user_id => current_user.id), :class => "button-green checked", :id => "own-this", :title => "Unlike", :remote => true %>
						<% else %>
							<%= link_to 'Like', like_product_path(@product, :user_id => current_user.id), :class => "button-green", :id => "own-this", :title => "Like", :remote => true %>
						<% end %>
						</div>						
		
						<!-- I own / want one -->
						<% if current_user.own_this_product?(@product) %>
						<% 
							if @user != current_user
								@my_collection_item = current_user.own_my_collection_item(@product)
							end
						%>
		                <div id="i_own_this-<%= @product.id %>">
							<%= link_to "I have one", product_my_collection_item_path(@product, @my_collection_item), :method => "delete", :class => "button-green checked", :id => "own-this", :title => "I have one", :confirm => "Are you sure? \nThis will remove this product from your collection." %>
						</div>
						<% else %>
							<% if current_user.wish_this_product?(@product) %>
							<% 
								if @user != current_user
									@my_collection_item = current_user.wish_my_collection_item(@product)
								end
							%>
						<div id="i_own_this-<%= @product.id %>">
							<!--<a href="#" id="own-this" class="button-green do_you_have_one">Have one?</a>-->
							<%= link_to "Have one?", own_product_my_collection_item_path(@product, @my_collection_item), :class => "button-green", :id => "own-this", :remote => true %>
						</div>
						<div id="wishlist_link">
								<%= link_to 'Wanted', { :controller => "wishlist_items", :action => "destroy", :product => @product.id }, :method => "delete", :remote => false, :class => "button-green checked", :id => "own-this", :title => "Wanted", :confirm => "Are you sure? \nThis will remove this product from your collection." %>							
						</div>
							<% else %>
						<div id="i_own_this">
							<!-- TODO: important -->
							<a href="#" id="own-this" class="button-green do_you_have_one">Have one?</a>
						</div>
						<div id="wishlist_link">
							<a href="#" id="own-this" class="button-orange do_you_wish_one">I want one!</a>
						</div>
							<% end %>														
						<% end %>
					</p>
				<%# Not log-in yet. %>
				<% else %>
					<p>
						<div id="response-product-<%= @product.id %>">
							<%= link_to 'Like', user_session_path, :class => "button-green", :id => "own-this", :title => "Like", :remote => true %>
						</div>
						<div id="i_own_this">
							<%= link_to "Have one?", user_session_path, :class => "button-green", :id => "own-this" %>						
							<%#<a href="#" id="own-this" class="button-green do_you_have_one">Have one?</a>%>
						</div>
						<div id="wishlist_link">
							<%= link_to "I want one!", user_session_path, :class => "button-orange", :id => "own-this" %>						
							<%#<a href="#" id="own-this" class="button-orange do_you_wish_one">I want one!!</a>%>
						</div>				
						<div id="wishlist_link">
							<%# if current_user.wish_this_product?(@product) %>
								<%#= link_to 'Wanted', { :controller => "wishlist_items", :action => "destroy", :product => @product.id }, :method => "delete", :remote => true, :class => "button-green checked", :id => "own-this", :title => "Wanted" %>						
							<%# else %>
								<%#= link_to 'I want one!', { :controller => "wishlist_items", :action => "create", :product => @product.id }, :method => "post", :remote => true, :class => "button-orange", :id => "add-wishlist", :title => "I want one!" %>
							<%# end %>
						</div>
		            </p>
				<% end %>
			<% end %>

<br/><br>
				<div style="float: center; width: 334px; margin-bottom: 20px;" class="product-stat-details">
				<!--<div style="float: center; width: 556px; margin-bottom: 20px;" class="product-stat-details">-->
					<%= render 'products/product_stat' %>
				</div>


				<br/>
				<div style="width: 100%; height: 1px; border-bottom: 1px solid #d6d6d6;"></div>
				<br/>
				<% if @product.product_link.present? %>
				<div id="buy_now_wrapper" style="display:inline;">
				<% else %>
				<div id="buy_now_wrapper" style="display:none;">
				<% end %>
					<span id="price_range_wrapper" class="left" style="color: black">
					<% if @product.price_range.present? %>					
						<%= @product.price_range.display %>
					<% else %>
						<!-- Not showing the price -->
					<% end %>
					</span>
					<span class="right">						
						<%= link_to 'Buy Now', buy_now_product_path(@product), :class => "buy_now external_link", :title => "Buy Now", :target => "_blank" %>
					</span>
				</div>
				<% if !@product.product_link.present? %>
				<div id="suggest_now">
					<a title="Suggest where to buy" class="suggest_where" id="suggest_where_to_buy">Suggest where to buy</a>
					<div id="suggest_where_wrapper" style="display:none">
						<% if user_signed_in? %>
						<%# if @user.present? || current_user.present? %>
							<%= render :partial => 'products/suggest_where_to_buy', :locals => { :product => @product } %>
						<% else %>
							<div style="margin-top: 5px">
								Please <%= link_to 'log in', user_session_path %> or <%= link_to "sign up", new_registration_path(User.new) %>.						
							</div>
						<% end %>
					</div>
				</div>					
				<% end %>				
	        </div>
	
	    	<br class="clear" />
	    </div>

		<% if @same_store_items.size > 0 %>	
		<div class="tabbed-content-area">
			<div class="pagination-wrapper top">
				<div>
					<p style="font-size:14px; color:#808080; padding-left: 23px; text-align: center">
						<strong>Also from <span class="vendor"><%= link_to @product.vendor.name, store_path(@product.vendor) %></span></strong>
						<!--<strong><%#= pluralize(@same_store_items.size, 'product') %> also from <span class="vendor"><%#= link_to @product.vendor.name, store_path(@product.vendor) %></span></strong>-->
					</p>
				</div>
			</div><!-- .pagination-wrapper -->		
						
			<div class="product-grid group">
				<%= render :partial => 'products/index', :locals => { :products => @same_store_items } %>
			</div>
        </div>	
		<br/><br/>
		<% end %>
		
		<div class="tabbed-content-area">
			<div class="pagination-wrapper top">
				<div>
					<p style="font-size:14px; color:#808080; padding-left: 23px; text-align:center">
						<strong><span>Also Found in <%= link_to @my_collection_item.my_collection.name, my_collection_path(@my_collection_item.my_collection) %> ...</span></strong>
					</p>
<!--
					<p style="font-size:11px; color:#808080; padding-left: 23px;">
						<strong><span style="text-decoration:underline;">Also in <%#= pluralize(@found_collection_items.size, 'collection') %></span></strong>
					</p>
-->
				</div>
			</div><!-- .pagination-wrapper -->		
						
			<div class="product-grid group">
				<%= render :partial => 'my_collection_items/index', :locals => { :my_collection_items => @my_collection_item.my_collection.my_collection_items, :mode => "read", :filter_my_collection_item => @my_collection_item } %>
			</div>
        </div>	
		<br/><br/>

		<% if @found_collection_items.size > 0 %>	
		<% end %>
		
		<div class="tabbed-content-area">
			<div class="pagination-wrapper top">
				<div>
					<p style="font-size:14px; color:#808080; padding-left: 23px; text-align:center">
						<strong><span>You may be interested in having ...</span></strong>
					</p>
				<!--
					<p style="font-size:11px; color:#808080; padding-left: 23px;">
						<strong><span style="text-decoration:underline;"><%#= pluralize(@more_like_this.size, 'products') %></span></strong> similar to <%#= @product.name %>
					</p>
				-->
				</div>
			</div><!-- .pagination-wrapper -->		
						
			<div class="product-grid group">
				<%= render :partial => 'products/index', :locals => { :products => @more_like_this } %>
			</div>
        </div>	
		<br/><br/>

		<!--
		<div>
			<%#= render :partial => 'questions/ask_a_question', :locals => { :product => @product, :page_id => "MyCollectionItem", :my_collection_item => @my_collection_item } %>
		</div>
		-->
		<!--
		<div class="tabbed-content-area">			
			<ul class="tabs"> 
		    	<li><a href="#questions">Questions &amp; Answers</a></li> 
		-->
		    	<!--<li><a href="#reviews">Reviews</a></li>-->
		<!--
			</ul> 

    		<div id="questions" class="tab_content"> 
				<%#= render :partial => 'questions/product_questions', :locals => { :my_collection_item => @my_collection_item, :product => @product } %>
		    </div> 
		-->
		<!--
		    <div id="reviews" class="tab_content"> 
				<%#= render 'reviews/product_reviews' %>
		    </div>    
		-->
		</div>
	</div>
	
	<div class="sidebar">
		<!-- Recommend a friend -->
		<%= render :partial => 'friendships/friend_search', :locals => { :product => @product } %>

		<!-- In the same collection -->
		<%#= render :partial => 'my_collection_items/in_the_same_my_collection', :locals => { :current_my_collection_item => @my_collection_item } %>
		
		<% if !@friends_who_owned.nil? && @friends_who_owned.size > 0 %>
		<div class="sidebar-content">				
			<div class="sidebar-header">
				<%= pluralize(@friends_who_owned.size, 'friend') %> owned
			</div>	
			<div class="user-grid">
		    	<ul>
				<% @friends_who_owned.each do |person| %>
		  			<li>
						<%= link_to profile_member_path(person) do %>
							<%= image_tag current_profile_image_thumbnail_url(person), :width => 50, :title => person.full_name %>
						<% end %>
					</li>
				<% end %>
				</ul>
			</div>
		</div><!-- #see who has similar products in his network -->			
		<% end %>
		<% if !@friends_who_wished.nil? && @friends_who_wished.size > 0 %>
		<div class="sidebar-content">				
			<div class="sidebar-header">
				<%= pluralize(@friends_who_wished.size, 'friend') %> wanted
			</div>	
			<div class="user-grid">
		    	<ul>
				<% @friends_who_wished.each do |person| %>
		  			<li>
						<%= link_to profile_member_path(person) do %>
							<%= image_tag current_profile_image_thumbnail_url(person), :width => 50, :title => person.full_name %>
						<% end %>
					</li>
				<% end %>
				</ul>
			</div>
		</div><!-- #see who has similar products in his network -->			
		<% end %>
		
		<!--
        <div id="product-tips" class="sidebar-content">
            <div class="sidebar-header">
                Tips
                <ul class="tabs3">
                    <li><a href="#popular" title="Popular">Popular</a></li>
                    <li><a href="#recent" title="Recent">Recent</a></li>
                </ul>
            </div>
            <div class="sidebar-inner">
                <ul id="popular" class="tab_content3">
                    <li>
                        <a href="#" title="Tip title" class="tip-title">Title of the tips goes here...</a><br/>
                        Added by <a href="#" title="username">Willsmith727</a>
                    </li>
                </ul>
                
                <ul id="recent" class="tab_content3">
                    <li>
                        <a href="#" title="Tip title" class="tip-title">Title of the tips goes here...</a><br/>
                        Added by <a href="#" title="username">Willsmith727</a>
                    </li>
                </ul>
            </div>
        </div>
		-->		
		
	</div>
	<div class="sidebar" id="comment-display">			
		<%= render :partial => 'product_comments/show', :locals => { :product => @product } %>
	</div>	
</div>
<% if user_signed_in? %>
<div id="popupMyCollection">
	<%= render :partial => "my_collections/thumbnail_view", :locals => { :product_id => @product.id } %>
</div>
<% end %>
<div id="backgroundPopup"></div>