<div class="unit on-2 columns">
	<div class="column">
		<% form_tag session_path do -%>
		<p>
			<%= label_tag 'login' %>: 
			<%= text_field_tag 'login', @login %>
		</p>
		<br/>
		<p>
			<%= label_tag 'password' %>: 
			<%= password_field_tag 'password', nil %>
		</p>
		<br/>
		<p>
			<%= submit_tag 'Log in' %>
		</p>
		<br/>
		<% end %>
		<!-- Uncomment this if you want this functionality
		<p><%= label_tag 'remember_me', 'Remember me' %>
		<%= check_box_tag 'remember_me', '1', @remember_me %></p>
		-->
	</div>
	<div class="column" id="beta_signup">
		<div>We are currently in beta. If you are interested, you can leave us your email below.</div>
		<br/>
		<% form_for Invitation.new do |f| %>
			<p>
				<%= f.label :recipient_email, "Your email: "%>
				<%= f.text_field :recipient_email %>
				<%= f.submit 'Submit' %>
		<% end %>
	</div>
	
<!--	
	<div class="column"><p>...or use...</p></div>
	<div class="column">
		<p><%= label_tag 'openid_url', 'OpenID URL' %><br />
		<%= text_field_tag 'openid_url' %></p>
	</div>
-->

</div>
