<h1>Listing Users</h1>
<table>
  <tr>
	<td>Login</td>
	<td>Name</td>
	<td>Email</td>
	<td>Created At</td>
	<td>Updated At</td>
	<td>Remember Token</td>
	<td>Remember Token Expires At</td>
	<td>Activation Code</td>
	<td>Activated At</td>
	<td>Identity URL</td>
  </tr>

<% @users.each do |user| %>
  <tr>
	<td><%= user.login %></td>
	<td><%= user.name %></td>
	<td><%= user.email %></td>
	<td><%= user.created_at %></td>
	<td><%= user.updated_at %></td>
	<td><%= user.remember_token %></td>
	<td><%= user.remember_token_expires_at %></td>
	<td><%= user.activation_code %></td>
	<td><%= user.activated_at %></td>
	<td><%= user.identity_url %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
