<script type="text/javascript"> 
    $(document).ready(function(){ 
        $(document).pngFix();
		
        //Input Form placeholder
        $('input:text').focus(function(){
						this.style.color = '#131e22';
            if(this.value === this.defaultValue) {
                this.value = "";
            } else {
                this.select();
            }
        })

        .blur(function(){
            if ($.trim(this.value) === "") {
                this.value = (this.defaultValue ? this.defaultValue: "")
								this.style.color = '#a3a3a3';
            }
        });

    }); 
</script>

<% title 'Change your password' %>

<div id="grey-strip">
	<div class="wrapper-top">
		<%= render 'layouts/tagline' %>
	</div>
</div>

<div class="wrapper-homecontent">

	<% if resource.errors.empty? %>
	<div class="home-signup">
	<% else %>
	<div class="home-signup-with-error">
	<% end %>
		<div class="home-signup-th">Change your password</div>
		<%#= registration_error_messages! %>
		<div>		
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "home-signupform" }) do |f| %>
		  	<%= f.hidden_field :reset_password_token %>
			<%= f.label 'Enter your new password' %>
		  	<%= f.password_field :password %>
			<%= f.label 'Re-enter your password' %>
			<%= f.password_field :password_confirmation %>
			<span class="home-signupbutton">
				<%= submit_tag "Change", :class => "home-signupbutton" %>
			</span>   
		<% end %>
		</div>
	</div>

</div>
