<h1>My Profile</h1>

<% form_for @my_profile, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
	<p><%= label_tag 'first_name' %> <%= f.text_field :first_name %></p> 
	<p><%= label_tag 'last_name' %><%= f.text_field :last_name %></p>
	<%= label_tag 'gender' %> <%= f.text_field :gender %><br/>
	<%= label_tag 'country' %> <%= f.text_field :country %><br/>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.file_field :photo %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @my_profile %> |
<%= link_to 'Back', my_profiles_path %>
