<div class="unit columns">

<%= form_for(@registration) do |f| %>
<div class="fixed column" style="width: 350px;">
  <div class="field">
    <%= f.label :first_name %>: <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>: <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email_address %>: <%= f.text_field :email_address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<div class="elastic column">
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>

<% end %>
