<% title "Listing Registrations" %>
<h4><%= yield :title %></h4>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @registrations.each do |registration| %>
  <tr>
    <td><%= registration.first_name %></td>
    <td><%= registration.last_name %></td>
    <td><%= registration.email_address %></td>
    <td><%= link_to 'Show', admin_registration_path(registration) %></td>
    <td><%= link_to 'Edit', edit_admin_registration_path(registration) %></td>
    <td><%= link_to('Destroy', admin_registration_path(registration), :confirm => 'Are you sure?', :method => :delete) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Registration', root_url %>
