<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @registration.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @registration.last_name %>
</p>

<p>
  <b>Email address:</b>
  <%= @registration.email_address %>
</p>


<%= link_to 'Edit', edit_admin_registration_path(@registration) %> |
<%= link_to 'Back', admin_registrations_path %>
