<h1>Editing product_line</h1>

<% form_for(@product_line) do |f| %>
  <%= f.error_messages %>
	<p>
		<%= label_tag 'name' %><br/>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= label_tag 'vendor' %><%= collection_select(:product_line, :vendor_id, @vendors, :id, :name) %>		
	</p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @product_line %> |
<%= link_to 'Back', product_lines_path %>