<script type="text/javascript"> 
    $(document).ready(function(){ 
        $(document).pngFix();
		$('#user_password').hide();
        $('#user_password_clear').show();
		
        //Input Form placeholder
        $('input:text').focus(function(){
			this.style.color = '#131e22';
            if(this.value === this.defaultValue) {
                this.value = "";
            } else {
                this.select();
            }
				
			if (this.id === 'user_password_clear') {
				$('#user_password_clear').hide();
			    $('#user_password').show();
			    $('#user_password').focus();
			} 
        })
        .blur(function(){
            if ($.trim(this.value) === "") {
                this.value = (this.defaultValue ? this.defaultValue: "")
				this.style.color = '#a3a3a3';
            }
        });

        $('input:password').focus(function(){
			this.style.color = '#131e22';
            if(this.value === this.defaultValue) {
                this.value = "";
            } else {
                this.select();
            }
        })
        .blur(function(){
            if ($.trim(this.value) === "") {
				$('#user_password').hide();
		        $('#user_password_clear').show();
            } 
        });
				
    }); 
</script>

<div class="home-signup">
	<div class="home-signup-th">Sign Up Now</div>
	<%= form_for(@user, :url => registration_path(@user), :html => { :class => "home-signupform" }) do |f| %>
		<%= f.text_field :first_name, :placeholder => 'First Name' %>
		<%= f.text_field :last_name, :placeholder => 'Last Name' %>
		<%= f.text_field :email, :placeholder => 'Email Address' %>
		<% if @user.password_required? %>
			<input id="user_password_clear" type="text" value="Password" autocomplete="off" />
			<%= f.password_field :password, :placeholder => 'Password' %>
		<% end %>
		<span class="home-signupbutton">
		<%= submit_tag "Submit", :class => "home-signupbutton" %></span>                
	<% end %>
</div>
