<% title "Home" %>
<script type="text/javascript"> 
    $(document).ready(function(){ 
        $(document).pngFix(); 
    }); 
</script>

	<div id="grey-strip" style="height: 115px">
		<div class="wrapper-top">
			<%= render 'layouts/tagline' %>
		</div>
	</div>
	<!-- ====================================================================================================== -->
	<div class="wrapper-mh">
		<% if !user_signed_in? %>
		<div>
			<%= render :partial => "home/learn_more" %>	
		</div>
		<% end %>
		
		<div class="maincol">
	        <%= render :partial => 'searches/form', :locals => { :is_remote => false } %>
			<div class="tabbed-content-area">				
				
		    <div id="tab1" class="tab_content product-grid group"> 
					<% @user = User.new %>
					<%= render :partial => 'products/index', :locals => { :products => @featured_products } %>
				</div>	

				<div class="pagination-wrapper bottom">				
					<div class="right">
						<div class="right">
							<div id="pagination">
								<%= link_to 'Discover more >>', discover_url %>
							</div>
						</div>
					</div>
				</div><!-- .pagination-wrapper -->					
				
			</div>
			<br/>

			<div class="tabbed-content-area">	
				<div style="margin-top: 15px; font-size: 20px;padding-top:5px; text-align: center">
					<span class="home-signupbutton">
				   		Most Recent Collections ...
					</span>
				</div>									
				<br/>
				<% @most_recent_collections.each do |my_collection| %>
				<% if my_collection.my_collection_items.size > 0 %>
				<div class="pagination-wrapper top">
					<div>
						<p style="font-size:14px; color:#808080; padding-left: 23px; text-align:left">
							<% if !my_collection.thumbnail.present? %>
								<% if my_collection.my_collection_items[0].product.thumbnail.present? %>
									<%= image_tag(my_collection.my_collection_items[0].product.thumbnail.url(:small), :width => 80, :title => my_collection.name) %>
								<% elsif my_collection.my_collection_items[0].product.image_url.present? %>
									<%= image_tag(my_collection.my_collection_items[0].product.image_url, :width => "80", :title => my_collection.name) %>
								<% else %>
									<%= image_tag "/images/product/no-image_medium.jpg", :size => "80x80", :title => my_collection.name %>
								<% end %>
							<% else %>
								<%= image_tag(my_collection.thumbnail.url(:small), :width => 80, :title => my_collection.name) %>
							<% end %>
							<strong><span><%= link_to my_collection.name, member_my_collection_path(my_collection.user, my_collection) %></span></strong>
							
							<%#= image_tag current_profile_image_thumbnail_url(my_collection.user), :width => 50, :title => my_collection.user.full_name %>
							<!--<strong><span><%#= link_to my_collection.user.full_name, collections_member_path(my_collection.user) %></span></strong>-->
						</p>
					</div>
				</div><!-- .pagination-wrapper -->						
				<div class="product-grid group"> 
					<%= render :partial => 'my_collection_items/index', :locals => { :my_collection_items => my_collection.my_collection_items.order("updated_at DESC").limit(3), :mode => "read", :filter_my_collection_item => nil } %>
				</div>
				<div class="pagination-wrapper bottom">				
					<div class="right">
						<div class="right">
							<div id="pagination">
								<%= link_to 'See more', member_my_collection_path(my_collection.user, my_collection) %>
							</div>
						</div>
					</div>
				</div><!-- .pagination-wrapper -->					
				<br/>					
				<% end %>
				<% end %>
			</div>
			<br/>
			
			<!--		
			<div class="tabbed-content-area">
				<ul class="tabs"> 
			        <li><a href="#tab1">Most Recent Collections</a></li> 
				</ul> 		
		    <div id="tab1" class="tab_content product-grid group"> 
					<%#= render :partial => 'my_collections/index', :locals => { :my_collections => @most_recent_collections, :preview_gallery => false } %>
				</div>	
			</div>
			<br/>
			-->
			<!--
			<div class="tabbed-content-area">	
				<div style="margin-top: 15px; font-size: 20px;padding-top:5px; text-align: center">
					<span class="home-signupbutton">
				   		Macabolic recently ...
					</span>
				</div>									
				<br/>
				<%# @feature_collection_items.each do |collection_items| %>
				<%# if collection_items.size > 0 %>
				<div class="pagination-wrapper top">
					<div>
						<p style="font-size:14px; color:#808080; padding-left: 23px; text-align:left">
							<%#= image_tag current_profile_image_thumbnail_url(collection_items[0].user), :width => 50, :title => collection_items[0].user.full_name %>
							<strong><span><%#= link_to collection_items[0].user.full_name, collections_member_path(collection_items[0].user) %></span></strong>
						</p>
					</div>
				</div>
			-->
				<!-- .pagination-wrapper -->
			<!--
		    <div class="product-grid group"> 
					<%#= render :partial => 'my_collection_items/index', :locals => { :my_collection_items => collection_items, :mode => "read", :filter_my_collection_item => nil } %>
				</div>
				<br/>	
				<%# end %>
				<%# end %>
			</div>
			<br/>								
		-->			
		</div>

		
		<% if @notice.present? %>		
		<div class="sidebar">		
			<div class="sidebar-content" id="recent-search">
			    <div class="sidebar-header">Thank you for your interest!</div>
				<div class="sidebar-inner">
					<p style="background:#fff; color: red; border: 2px dotted red; padding: 4px;">
						We are on invitation now. We will let you know when it is ready.
					</p>
				</div>
			</div>
		</div>
		<% end %>
<!--			
		<div class="sidebar">
			<div>
				<script type="text/javascript" src="http://www.globalgiving.org/javascript/widget/widget.js">  { "projectids" : "6443", "ggtid" : "413C44A1FE63158BC1E4D1139F0EF95F"  }  </script>
			</div>
		</div>
		<br/>
-->	
		<div class="sidebar">
			<%= render :partial => 'photo_contests/ads', :locals => { :originate => 'home' } %>
		</div>
		
		<% if !user_signed_in? %>
		<div class="sidebar">
			<%= render :partial => 'users/sessions/mini_form' %>
		</div>
		<% else %>
			<%#= render 'products/add_a_product_link' %>		
		<!--
			<div class="sidebar-content account-info">
				<div class="sidebar-inner">					
			    	<p class="username">
						<%#= image_tag current_profile_image_thumbnail_url(current_user), :width => 50, :height => 50 %>
			    		<span><%#= current_user.full_name %></span>
			    	</p>
				</div>
				<div style="height: 300px; margin: 5px 5px 5px;">
				<%# product_lines = ProductLine.all %>
					<ul>
						<%# product_lines.each do |product_line| %>
						<li><%#= link_to product_line.name, find_product_searches_path(:query => product_line.name) %></li>
						<%# end %>
					</ul>
				</div>
			</div>
		-->
		
		<% end %>		
		
		<%= render :template => 'home/heat_map' %>
		
	<!--	
		<div class="sidebar">
			<div class="sidebar-content">
	            <div class="sidebar-header" style="background: #dd6219;">Did you know?</div>			
				<div style="margin: 17px; border: 0px;">
					<h3 style="text-align:left;">There are always something EXTRA!</h3><br/>
					<div>
						<%#= image_tag "/images/featuretour/extra.png" %>
						<br/><br/>
						<p style="font-size: 12px; font-family: Verdana;">
							There is an easy way to tag the product you like while you are visiting another website.
							<br/><br/>
							Check it out at our <%#= link_to 'Extra', extra_path %> for the widget.
							<br/>					
						</p>
					</div>
				</div>
			</div>
		</div>
	-->	
	</div>	
