<div class="unit on-3 columns">
	<div class="fixed column" style="width:280px;">
		<div id="my_collections">
			<table>
			<thead>
			  <tr>
				<td><b>My Collections</b></td>
				<td align="right">
					<% if !@my_collection_details.nil? && @my_collection_details.size > 0 %>
						<%= link_to 'See All', my_collections_path %>
					<% end %>
				</td>
			  </tr>
			</thead>
			<tbody id="my_collections_body">	
			<% if !@my_collection_details.nil? && @my_collection_details.size > 0 %>
			<% @my_collection_details.each do |my_collection_detail| %>	
			  <tr>
				<td align="center">
					<img src="<%= my_collection_detail.product.photo.url(:thumb) %>" />
				</td>
			    <td valign="top">
			    	<%= link_to my_collection_detail.product.name, my_collection_detail_path(my_collection_detail) %><br/>
					<p id="review_link"><a href="#">Write a review</a> | <a href="#">Ask a question</a></p>
					<p id="friends_link">
						<%  @count = number_of_friends_own_this_product(my_collection_detail.product) %>
						<% if @count > 1 %>
							<u><%= count %> friends</u> own this.
						<% elsif @count == 0 %>
							No friend own this.
						<% else %>
							<u><%= @count %> friend</u> own this.
						<% end %>
					</p>
				</td>
			  </tr>
			<% end %>
			<% else %>
			  <tr>
				<td colspan="2" align="center">You do not have any collection yet.</td>			
			  </tr>				
			<% end %>
			</tbody>
			</table>
			<!-- %= render :partial => "my_collection_details/index", :collection => @my_collection_details % -->
		</div>
		<div id="my_wishlist"> == My Wishlist here == 
			<table>
			<thead>
				<tr>
					<td>My Friends here</td>
				</tr>
			</thead>
			<tbody>
				<% current_user.my_friends.each do |friend| %>
				<tr>
					<td><img src="<%= friend.friend.my_profile.photo.url(:small) %>"></td>
					<td><div id="post_user"><%= friend.friend.display_name %></div></td>
				</tr>
				<% end %>
			</tbody>
			</table>
		</div>		
	</div>
	<div class="fixed column" style="width:420px;">
		<div id="share_my_mind">
			<table>
			<thead>
				<tr>
					<td colspan="2"><b>Share your thoughts</b></td>
				</tr>
				<% form_for(@post) do |f| %>
				<tr>
					<td colspan="2">
					  	<%= f.error_messages %>
						<%= f.text_field :content %><br/>
						<%= f.hidden_field :user_id, :value => current_user.id %>
					</td>
				</tr>
				<tr>
					<td align="right" colspan="2">
						<%= f.submit 'Share' %>
					</td>
				</tr>
				<% end %>
			</thead>
			<tbody>
				<% @my_posts.each do |post| %>
					<tr>
						<td rowspan="2" valign="top"><img src="<%= post.user.my_profile.photo.url(:small) %>" width="50" height="50" /></td>
						<td><div id="post_content"><%= post.content %></div></td>
					</tr>
					<tr>
						<td>
							<div id="timestamps"><%= calculate_lapse_time(post.created_at) %> by <%= post.user.display_name %></div>
						</td>
					</tr>
				<% end %>				
			</tbody>
			</table>
		</div>
	</div>
	<div class="fixed column" style="width:15	0px;">
		<div id="my_dashboard"> == My Dashboard == </div>
		<div id="advertisement"> == Advertisement == </div>
	</div>
</div>
