<table>
  <tr>
<% @my_collection_details.each do |my_collection_detail| %>	
	<td align="center"><img src="/images/apple/<%= my_collection_detail.product.name %> (small).png"><br/><%= my_collection_detail.product.name %></td>
    <td><%= link_to 'Show', my_collection_detail %><br/>
    	<%= link_to 'Edit', edit_my_collection_detail_path(my_collection_detail) %><br/>
    	<%= link_to 'Destroy', my_collection_detail, :confirm => 'Are you sure?', :method => :delete %>
	</td>
<% end %>
  </tr>
</table>

<br />
