<div class="unit on-2 columns">
	<div class="column" id="my_collection_detail" style="width:200px">
		<img src="<%= @my_collection_detail.product.photo.url(:small) %>" />
	</div>
	<div class="column">
		<h1><b><%= @my_collection_detail.product.name %></b></h1>
		<br/>
		<div id="my_collection_detail_background">
			<p>
				<%= @my_collection_detail.product.review_summary.avg_ratings %> based on <%= @my_collection_detail.product.review_summary.number_of_reviews %> reviews.
			</p>
			<br/>
		</div>
		<div>
			<p>You have <%= pluralize(@my_collection_detail.number_of_friends_own_this, 'friend') %> own this.</p>
			<br/>
		</div>
	</div>
</div>
<hr/><br/>
<div class="unit on-2 columns">
	<div class="column" id="my_collection_detail" style="width:280px;">
		<div id="related_products">
			<p class="header">Related Products</p>
			<br/>
			<% @count = 0 %>
			<table>
			<% @products.each do |product| %>
			<% if @count % 3 == 0 %>
				<tr>
			<% end %>
					<td align="center">
						<img src="<%= product.photo.url(:thumb) %>"><br/>
						<p class="product_name"><%= product.name %></p><br/>
					</td>
			<% if @count % 3 == 2 %>
				</tr>
			<% end %>
			<% @count += 1 %>	
			<% end %>
			</table>
		</div>
		<div id="related_friends">
			<p class="header">1 Friend own this</p>
			<br/>
			<table>
			<tbody>
				<% current_user.my_friends.each do |friend| %>
				<tr>
					<td><img src="<%= friend.friend.my_profile.photo.url(:small) %>"></td>
					<td><div id="post_user"><%= friend.friend.display_name %></div></td>
				</tr>
				<% end %>
			</tbody>
			</table>
		</div>
	</div>
	<div class="column" id="product_comment">
		<p class="header">Reviews</p>
		<p align="right"><%= link_to "Write a Review", new_product_review_path(@my_collection_detail.product), :class => "review_button round" %></p><br/>
		<% 
			@reviews = @my_collection_detail.product.reviews
			@reviews.each do |review| 
		%>
		<div id="review_entry">
			<div class="unit on-3 columns">
				<div class="fixed column" style="width: 70px">
					<img src="<%= review.user.my_profile.photo.url(:small) %>" width="50" height="50">			
				</div>
				<div class="column">
					<p>
						<% 
							number_of_blue_star = review.rating
							number_of_white_star = 5 - review.rating 

							number_of_blue_star.times {
						%>
								<%= image_tag("star_blue.png") %>				
						<%
							}

							number_of_white_star.times {
						%>
								<%= image_tag("star_white.png") %>
						<%		
							}
						%>				
					</p>
					<p><b><%= review.title %></b></p>
					<p style="font-size: 10px">Written by <%= review.user.display_name %></p>
					<p style="font-size: 10px"><%= review.created_at %></p>
				</div>
				<div class="column">
					<p><%= review.content %></p>
				</div>
			</div>
		</div>
		<% end %>
		<% if @reviews.size == 0 %>
			Be the first one to write a review for this product.
		<% end %>
		<p align="right"> 
			<% if !@my_collection_detail.product.reviews.nil? && @my_collection_detail.product.reviews.size > 0 %>
				<%= link_to 'See all reviews', product_reviews_path(@my_collection_detail.product, :my_collection_detail_id => @my_collection_detail.id) %>
			<% end %>
		</p>
		<hr/><br/>
		<p class="header">Questions and Answers</p>
		<br/>
		<div>
			<table>
				<tbody>
					<tr>
						<td>
							<p id="q_and_a_question">Q: When is the new iPad coming out?</p>
						</td>
					</tr>
					<tr>
						<td>
							<p id="q_and_a_answer">
								A: xxxxxxxxxxx xxxxxxxxx xxxxx xxx xxx<br/>
								xxxxxxxxxxxx xxxxxxx xxxxxxxx xxxxxx xxxxxxxxxxx<br/>
								xxxxxxxxxxxx xxxxx xxxxxxx xxxx xxxxxxxxxxxxxx xxx<br/>
							</p>
						</td>
					</tr>
				</tbody>
			</table>			
		</div>
	</div>		
</div>
