<script type="text/javascript">
/*
!function(d,s,id) {
	var js,fjs=d.getElementsByTagName(s)[0];
	if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
*/
$(document).ready(function() {
	$("#product_friend_name").keydown(function(event) {
		if (event.which == 13) {
			event.preventDefault();
			$.get($("#recommend-friends-form").attr("action"), $("#recommend-friends-form").serialize(), null, "script");
			return false;
		}		
	});	
});
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= FACEBOOK_APP_ID %>";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="sidebar-content" id="new-product" style="overflow: visible">				
	<div class="sidebar-header">Recommend to Your Followers</div>	
	<div class="sidebar-inner">
	<% if user_signed_in? %>
    	<ul>
  			<li id="product-search-form">
				<%= form_tag search_in_network_friendships_path, :method => 'get', :id => 'recommend-friends-form', :remote => true do %>
					<%= hidden_field_tag 'user_id', current_user.id %>
					<%= hidden_field_tag 'product_id', product.id %>
					<%= text_field_tag :name, params[:name], :placeholder => 'Type a name and hit enter', :autocomplete => 'off', :class => 'product_text_search', :id => 'product_friend_name' %>
				<% end %>
  			</li>
		</ul>
		<br/>
	<% end %>
		<div class="user-grid">
	<% if user_signed_in? %>
			<div id="friends">
				<%= render :partial => 'friendships/friend_search_result', :locals => { :product => product } %>
			</div>
			
			<div style="margin-left: auto; margin-right: auto; width: 100%; height: 1px; border-bottom: 1px dotted #d4d4d4;"></div>
	<% end %>		
			<div style="display:block; margin-top: 5px; margin-bottom: 5px;">			
				<span style="font-size: 14px; color: #cccccc;">via Facebook</span>
				<div style="margin-top: 5px; padding-bottom: 10px;">
					<span class='recommended_user' style="overflow: visible;">
						<div class="fb-send" data-href="<%= product_url(product) %>" data-font="verdana"></div>
					</span>
				</div>
			</div>	
		</div>				
	</div>	
</div><!-- #new-product -->
