<script type="text/javascript">
$(document).ready(function() {
	$("#friend_name").keydown(function(event) {
		if (event.which == 13) {
			event.preventDefault();
			$.get($("#recommend-friends-form").attr("action"), $("#recommend-friends-form").serialize(), null, "script");
			return false;
		}		
	});	
});
</script>
<div class="sidebar-content" id="new-product">				
	<div class="sidebar-header">Recommend to Your Friends</div>	
	<div class="sidebar-inner">
    	<ul>
  			<li id="product-search-form">
				<%= form_tag search_in_network_friendships_path, :method => 'get', :id => 'recommend-friends-form', :remote => true do %>
					<%= hidden_field_tag 'user_id', current_user.id %>
					<%= hidden_field_tag 'product_id', product.id %>
					<%= text_field_tag :name, params[:name], :placeholder => 'Find your friends', :autocomplete => 'off', :class => 'product_text_search', :id => 'friend_name' %>
				<% end %>
  			</li>
		</ul>
		<br/>
		<div class="user-grid">
    		<!--ul id="search-friend-list"-->
				<!--
				Click on the image to recommend:
				<%# @friends = current_user.friends %>
				<%# @friends.each do |friend| %>
		        <li>
					<%#= link_to '#', :id => 'recommend_link'  do %>
						<%#= image_tag avatar_url(friend, 50), :width => 50, :title => friend.full_name, :class => "noborderimage" %>
					<%# end %>
				</li-->				
				<%# end %>
			<div id="friends">
				<%= render :partial => 'friendships/friend_search_result', :locals => { :product => product } %>
			</div>
    		<!--/ul-->
			<div style="margin-left: auto; margin-right: auto; width: 100%; height: 1px; border-bottom: 1px dotted #d4d4d4;"></div>
			<div style="display: block; margin-top: 5px; margin-bottom: 5px;">
				<span style="font-size: 14px; color: #cccccc;">Share via</span>
				<div style="margin-bottom: 5px; padding-bottom: 10px;">
					<span class='recommended_user'>
						<%= link_to '#' do %>
							<%= image_tag "auth/facebook_32.png", :size => "32x32", :alt => "Facebook", :class => "social facebook" %>
						<% end %>
					</span>
					<span class='recommended_user'>
						<%= link_to '#' do %>
							<%= image_tag "auth/twitter_32.png", :size => "32x32", :alt => "Twitter", :class => "social twitter" %>
						<% end %>
					</span>
					<br/>
				</div>
			</div>			
		</div>		
	</div>
</div><!-- #new-product -->


