<%# if !@friends.nil? %>
<!--
<ul class="friendships" id="suggested_from_macaboilc">
	<%# @friends.each do |friend| %>	
		<li class="friend">
			<div>
-->
				<!-- Image -->	
				<%#= image_tag current_profile_image_thumbnail_url(friend), :width => 50, :height => 50 %>
				<%#= image_tag avatar_url(friend, 100), :width => 100, :height => 100 %>
<!--				
				<span id="friend_name"><%#= link_to friend.full_name, member_path(friend) %></span>
			</div>
		</li>
	<%# end %>
</ul>
-->	
<%# end %>

<% if !@friends.nil? %>
<ul class="friendships" id="suggested_from_macaboilc">
	<% @friends.each do |friend| %>	
		<li class="friend">
			<div style="text-align: center">
				<!-- Image -->	
				<%= image_tag current_profile_image_small_url(friend), :width => 80, :height => 80 %>
				<span id="friend_name">
					<%= link_to friend.full_name, member_path(friend) %><br/>
					<div id="friend-user-link-<%= friend.id %>">
					<% if user_signed_in? %>
						<% if @user == current_user %>
							<%= link_to "unfollow", unfollow_member_friendship_path(current_user, friend), :class => "follow_link", :title => "Unfollow", :remote => true %>
						<% else %>
							<%= link_to "follow", follow_member_friendship_path(current_user, @user), :class => "follow_link", :title => "Follow", :remote => true %>				
						<% end %>
					<% else %>
						<%= link_to "follow", user_session_path, :class => "follow_link", :title => "Follow", :remote => false %>				
					<% end %>
					</div>
				</span>
			</div>
		</li>
<% 
	friend_collection_items = friend.my_collection_items.order("updated_at DESC").limit(4)
	if friend_collection_items.size > 0
		friend_collection_items.each do |my_collection_item| 
%>
		<li class="friend">
			<div>
				<%= link_to product_my_collection_item_path(my_collection_item.product, my_collection_item) do %>				
			<% if my_collection_item.product.thumbnail.present? %>
				<%= image_tag(my_collection_item.product.thumbnail.url(:small), :width => "80", :class => "preview-image") %>
				<% thumbnail_image_path "http://#{HOST}#{my_collection_item.product.thumbnail.url(:small)}" %>
			<% elsif my_collection_item.product.image_url.present? %>
				<%= image_tag(my_collection_item.product.image_url, :width => "80", :class => "preview-image") %>
				<% thumbnail_image_path my_collection_item.product.image_url %>
			<% else %>
				<%= image_tag "/images/product/no-image_medium.jpg", :width => "80", :class => "preview-image" %>
				<% thumbnail_image_path "http://#{HOST}/images/product/no-image_medium.jpg" %>
			<% end %>
			<% if my_collection_item.thumbnail.present? %>
				<%= image_tag(my_collection_item.thumbnail.url(:small), :width => "80", :class => "preview-image") %>
				<% thumbnail_image_path "http://#{HOST}#{my_collection_item.thumbnail.url(:small)}" %>
			<% end %>
				<% end %>
			</div>
		</li>	
<%		
		end
	end
%>
<hr style="width: 100%; height: 1px; border: 1px solid white; margin: 0px 5px 0px 0px;"/>
<% end %>
</ul>
<% end %>