<script src='http://connect.facebook.net/en_US/all.js'></script>
<script type="text/javascript"> 
    $(document).ready(function() { 
		$("#loading").hide(); //Hide all tab content
		$('#invite-friend-now').submit(function() {
			// Show the loading.gif
			$("#loading").show();
		});
		
    }); 
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= FACEBOOK_APP_ID %>";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div>
	<div class="sidebar-content account-info" style="overflow: visible">
		<div class="sidebar-header">
			Invite your friends
		</div>
		<div class="sidebar-inner">					
			<%= form_for(invitation, :remote => true, :html => { :id => "invite-friend-now", :class => "invite-friend-form" }) do |f| %>
			<div>
				<div>
        			<strong style="padding-bottom: 5px;">Email</strong>
		  			<%= f.text_field :recipient_email, :placeholder => 'billy.cheng@macabolic.com' %>
					<span id="loading">
						<%= image_tag "loading.gif" %>
					</span>
				</div>
				<span id="message" class="message"></span>
				<div style="padding-top: 15px; padding-bottom: 10px;">
			    	<%= submit_tag "Submit", :class => "invite-friend" %>
				</div>
			</div>
			<% end %>
			<div style="margin-left: auto; margin-right: auto; width: 100%; height: 1px; border-bottom: 1px dotted #d4d4d4;"></div>
			<div style="margin-top: 10px; margin-bottom: 10px; padding-bottom: 10px;">
				<span style="font-size: 14px; color: #cccccc;">Invite your friends via</span>
				<div style="margin-top: 5px; margin-bottom: 15px;">
					<ul style="list:none;">
						<li style="float: left; margin-right: 15px;">
							<div class="fb-send" data-href="http://www.macabolic.com" data-font="verdana"></div>
						</li>
						<li style="float: left;">
							<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.macabolic.com" data-text="Are you an Apple users? Come check it out!" data-count="none" data-via="macabolic">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
							<%#= image_tag "auth/twitter_32.png", :size => "32x32", :alt => "Twitter", :class => "social twitter" %>
							</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
