<script type="text/javascript"> 
    $(document).ready(function() { 
		$("#loading").hide(); //Hide all tab content
		$("#message").hide();
		$('#invite-friend-form').submit(function() {
			// Show the loading.gif
			$("#loading").show();
			$("#message").show();
		});
    }); 
</script>

<% title "Step 2 - Invite your friends" %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=255146254550038";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= render :partial => 'registrations/signup_steps', :locals => { :step1_switch => "", :step2_switch => "ON", :step3_switch => "" } %>


<div class="wrapper-homecontent">
	<!-- A form here with First Name, Last Name, Email Address -->	
	
	<div id="step2" class="home-signup" style="margin-top: 35px; height: 220px">
		<div class="home-signup-th"><span><strong>Spread the words out!</strong></span></div>
		<div id="left" class="invite-friends">
			<%= form_for(Invitation.new, :remote => true, :html => { :class => "home-signupform", :id => "invite-friend-form" }) do |f| %>
			<div>	
	  			<%= f.text_field :recipient_email, :placeholder => 'Email address here...' %>
				<span id="loading"><%= image_tag "loading.gif" %></span>
				<span id="message" class="message"></span>
			</div>
			<div>
		    	<%= submit_tag "Submit", :class => "button-green", :id => "invite-my-friend" %> 
			</div>			
			<% end %>	
		</div>
		<div style="margin-top: 30px; float: left; width 1px; height: 100px; border: 1px dotted #d4d4d4;"><div class="push"></div></div>
		<div style="padding: 5px 5px 5px 5px; margin-top: 23px; width: 150px; float: right;">			
		<%# if params[:origin] == 'facebook' %>
			<span style="font-size: 14px; color: #cccccc;">via Facebook</span>
			<div style="margin-top: 5px; margin-bottom: 10px;">
				<!-- If coming from facebook login -->
				<div class="fb-send" data-href="www.macabolic.com" data-font="verdana"></div>
				<!-- End -->
			</div>
			<span style="font-size: 14px; color: #cccccc;">via Twitter</span>
			<div style="margin-top: 5px;">
				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.macabolic.com" data-text="Are you an Apple users? Come check it out!" data-count="none" data-via="macabolic">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
			</div>
		<%# end %>		
		</div>
		<div style="height: 20px; clear: both; float: right; margin-top: 0px; padding-right: 10px; padding-top: 15px;">
			<%= link_to "No thanks, I am done.", skip_invitation_path(1) %>
		</div>
	</div>	
</div>


