<div id="store-stat-details" class="product-stat-details" style="float: left; width: 333px;">
	<ul>
		<li>Products<span><%= vendor.products.size %></span></li>
		<li id="follower" class="alt">Followers<span id="follower-stat-store-<%= vendor.id %>"><%= vendor.followers.size %></span></li>
		<li id="response" class="noborder">Likes<span id="response-stat-store-<%= vendor.id %>"><%= vendor.responses.size %></span></li>
	</ul>
</div>
