<h1>Listing vendors</h1>

<table>
  <tr>
	<td>Name</td>
	<td>Date Created</td>
	<td>Date Modified</td>
	<td></td>
	<td></td>
	<td></td>	
  </tr>

<% @vendors.each do |vendor| %>
  <tr>
	<td><%= vendor.name %></td>
	<td><%= vendor.created_at %></td>
	<td><%= vendor.updated_at %></td>
    <td><%= link_to 'Show', vendor %></td>
    <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
    <td><%= link_to 'Destroy', vendor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vendor', new_vendor_path %>