<% title @vendor.name %>
<style type="text/css">
#backgroundPopup {
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:1;
}
#popupMyCollection {
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
//	width:808px;
	background:#f6f1de;
//	border:2px solid #cecece;
	z-index:2;
	padding:12px;
	font-size:13px;
  	-webkit-border-radius:20px;
  	-moz-border-radius:20px;
  	border-radius:20px;			
}

#popupMyCollectionClose {
	font-size:14px;
	line-height:14px;
	right:3px;
	top:1px;
	position:absolute;
	color:#5c5c5c;
	font-weight:700;
	display:block;
	
	width: 25px;
	line-height: 25px;
	color: #595959;
	text-align: center;
	//text-decoration: underline;
	cursor: pointer;
	border: 3px solid black;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;	
	
}	
</style>
<script type="text/javascript">
//SETTING UP OUR POPUP
//0 means disabled; 1 means enabled;
var popupStatus = 0;

//loading popup with jQuery magic!
function loadPopup(){
	//loads popup only if it is disabled
	if(popupStatus==0){
		$("#backgroundPopup").css( {"opacity": "0.7"} );
		$("#backgroundPopup").fadeIn("slow");
		$("#popupMyCollection").fadeIn("slow");
		popupStatus = 1;
	}
}

//disabling popup with jQuery magic!
function disablePopup(){
	//disables popup only if it is enabled
	if(popupStatus==1){
		$("#backgroundPopup").fadeOut("slow");
		$("#popupMyCollection").fadeOut("slow");
		popupStatus = 0;
	}
}

//centering popup
function centerPopup(){

	//request data for centering
	var windowWidth = document.documentElement.clientWidth;
	var windowHeight = document.documentElement.clientHeight;
	var popupHeight = $("#popupMyCollection").height();
	var popupWidth = $("#popupMyCollection").width();
	//centering
	$("#popupMyCollection").css({
		"position": "absolute",
		"top": windowHeight/2-popupHeight/2,
		"left": windowWidth/2-popupWidth/2
	});
	//only need force for IE6

	$("#backgroundPopup").css( {"height": windowHeight} );
}

!function(d,s,id) {
	var js,fjs=d.getElementsByTagName(s)[0];
	if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

$(document).ready(function() {
    $(document).pngFix(); 
 
	//Default Action
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content
	$(".tab1_paging").show();
	
	//On Click Event
	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content
		$(".tab1_paging").show();
		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active content
		return false;
	});

	//LOADING POPUP
	//Click the button event!
	$(".do_you_wish_one").click(function(){
		$("#interest_indicator").attr('value', 2);
		//centering with css
		centerPopup();
		//load popup
		loadPopup();
	});
	
	//CLOSING POPUP
	//Click the x event!
	$("#popupMyCollectionClose").click(function(){
		disablePopup();
	});
	
	//Click out event!
	$("#backgroundPopup").click(function(){
		disablePopup();
	});
	
	//Press Escape event!
	$(document).keypress(function(e){
		if(e.keyCode==27 && popupStatus==1) {
			disablePopup();
		}
	});
		
});
</script>
<body class="subpage">
	<!-- FACEBOOK LIKE BUTTON INITIALIZER -->	
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= FACEBOOK_APP_ID %>";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	<!-- END OF FACEBOOK LIKE BUTTON INITIALIZER-->	
	
	<div id="grey-strip-signedin">
		<div class="wrapper-top">
			<%= render :partial => 'layouts/navigation', :locals => { :user => @user, :item => "" } %>			
		</div>
	</div>
	
	<div class="wrapper-mh">
		<div class="maincol">
			<div class="product-item sidebar-content">		
				<div class="product-image logo-wrapper">		        
				<% if @vendor.logo.url(:medium).present? %>
					<%= image_tag @vendor.logo.url(:medium), :width => "200", :class => "preview-image" %>
				<% else %>
					<img src="/images/product/no-image_medium.jpg" alt="Product Image" width="200" class="preview-image">
				<% end %>
			  </div>
		    <div class="product-detail">
					<div>
						<p class="left"><h3 style="text-align: left;"><%= @vendor.name %></h3></p>
					</div>
				<% if @user.present? || current_user.present? %>
					<% if @user == current_user %>									
					<p>					
						<div id="follow-store-<%= @vendor.id %>">
						<% if @vendor.following?(current_user) %>
							<%= link_to 'Following', unfollow_store_path(@vendor, :follower_id => current_user.id), :class => "button-green checked", :id => "own-this", :title => "Unfollow", :remote => true %>
						<% else %>
							<%= link_to 'Follow', follow_store_path(@vendor, :follow_id => current_user.id), :class => "button-green", :id => "own-this", :title => "Follow", :remote => true %>
						<% end %>
						</div>						
						<div id="response-store-<%= @vendor.id %>">
						<% if @vendor.like?(current_user) %>					
							<%= link_to 'Unlike', unlike_store_path(@vendor, :user_id => current_user.id), :class => "button-green checked", :id => "own-this", :title => "Unlike", :remote => true %>
						<% else %>
							<%= link_to 'Like', like_store_path(@vendor, :user_id => current_user.id), :class => "button-green", :id => "own-this", :title => "Like", :remote => true %>
						<% end %>
						</div>						
					</p>
					<% end %>
				<% else %>
					<p>					
						<div id="follow-store-<%= @vendor.id %>">
							<%= link_to 'Follow', user_session_path, :class => "button-green", :id => "own-this", :title => "Follow" %>
						</div>						
						<div id="response-store-<%= @vendor.id %>">
							<%= link_to 'Like', user_session_path, :class => "button-green", :id => "own-this", :title => "Like" %>
						</div>						
					</p>				
				<% end %>
					<br/><br/><br/>			
					<!-- FACEBOOK LIKE AND TWITTER BUTTONS -->
					<div style="margin: 5px;">
						<div style="overflow: visible;" class="fb-like social" data-href="<%= store_url(@vendor) %>" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-action="recommend" data-font="verdana"></div>
						<a href="https://twitter.com/share" class="twitter-share-button social" data-url="<%= store_url(@vendor) %>" data-text="Check out <%= @vendor.name %>' store @macabolic." data-counturl="<%= store_url(@vendor) %>" data-via="macabolic" data-count="horizontal" data-lang="en">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
					</div>
					<!-- END OF FACEBOOK LIKE AND TWITTER BUTTONS -->
					
					<div id="my-collection-stat-details" class="product-stat-details" style="float: left; width: 333px;">
						<%= render :partial => 'vendors/profile_stat', :locals => { :vendor => @vendor } %>	
					</div>
		    </div>
			    <br class="clear" />
			</div>			
		<% if @vendor.products.size > 0 %>
			<div class="tabbed-content-area">
			<!--	
				<ul class="tabs"> 
			        <li><a href="#tab1">Products</a></li> 
				</ul> 		
			-->
		    <div id="tab1" class="tab_content product-grid group"> 
					<%= render :partial => 'products/index', :locals => { :products => @vendor.products } %>
				</div>	
			</div>				
		<% end %>

		<% if @vendor.offerings.size > 0 %>
			<div class="tabbed-content-area">
			<!--	
				<ul class="tabs"> 
			        <li><a href="#tab1">Products</a></li> 
				</ul> 		
			-->
		    <div id="tab1" class="tab_content product-grid group"> 
					<%= render :partial => 'products/index', :locals => { :products => @vendor.offerings } %>
				</div>	
			</div>				
		<% end %>
		</div>
	<% if @deals.size > 0 %>
		<div class="sidebar">
			<%= render :partial => 'deals/offered_by_store', :locals => { :deals => @deals } %>
		</div>
	<% end %>
	<% if @related_deals.size > 0 %>
		<div class="sidebar">
			<%= render :partial => 'deals/offered_by_store', :locals => { :deals => @related_deals } %>
		</div>
	<% end %>
	</div>	
</body>

<% if user_signed_in? %>
<div id="popupMyCollection">
	<%= render :partial => "my_collections/thumbnail_view", :locals => { :product_id => "" } %>
</div>
<div id="backgroundPopup"></div>
<% end %>
