<h1>New Friend</h1>

<% form_for(@my_friend) do |f| %>
  <%= f.error_messages %>
	<p><%= label_tag 'Me' %>: <%= current_user.login %></p>
	<p><%= label_tag 'Friend' %>: <%= collection_select(:my_friend, :friend_id, @friends, :id, :login) %></p>
	<%= f.hidden_field :user_id, :value => current_user.id %>
	<p><%= f.submit 'Create' %></p>
<% end %>

<%= link_to 'Back', my_friends_path %>