<table>
  <tr>
	<td>Name</td>
	<td>Vendor</td>
	<td></td>
	<td></td>
	<td></td>
  </tr>

<% @products.each do |product| %>
  <tr>
	<td><%= product.name %></td>
	<td><%= product.vendor.name %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
