<style type="text/css">
#own_want a {
	font-size: 12px;
	font-weight: normal;
	color: #65A40B;
	display: inline;
}
</style>
<% if !@products.nil? %>
	<% @products.each do |product| %>
        <li>
			<div>
			  	<%#= image_tag(product.thumbnail.url(:thumb), :size => "45x45") %>
				<% if product.thumbnail.present? %>
					<%= image_tag(product.thumbnail.url(:thumb), :size => "45x45") %>
				<% elsif product.image_url.present? %>
					<%= image_tag(product.image_url, :size => "45x45") %>
				<% else %>
					<%= image_tag "/images/product/no-image_thumb.jpg", :size => "45x45" %>
				<% end %>
			
				<div class="left">
					<p><%= link_to product.name, (product) %></p>
				</div>
				<br/>
				<div class="answers-meta">
					<p class="left">
						<span id="response-stat-product-<%= product.id %>"><%= product.responses.size %></span> like | 
						<span id="response-stat-product-<%= product.id %>"><%= pluralize(product.owners.size, 'person') %></span> own
					</p>
				</div>
				<% if product.description.present? %>
				<br/><br/>
				<p>
					<%=h truncate(product.description, :length => 200) %>
				</p>
				<% end %>
				<div class="right">
					<p id="own_want">
						<% if !@my_collection.nil? %>	
							<%= link_to 'Own', my_collection_my_collection_items_path(@my_collection.id, MyCollectionItem.new, :product_id => product.id, :interest_indicator => 1), :method => 'post' %> | 
							<%= link_to 'Want', my_collection_my_collection_items_path(@my_collection.id, MyCollectionItem.new, :product_id => product.id, :interest_indicator => 2), :method => 'post' %>
						<% end %>
					</p>
				</div>				
			</div>
        </li>
	<% end %>
		<li>
			Can't find yours? <%= link_to 'Create one now!', new_product_path(:user => current_user, :my_collection_id => @my_collection.id) %>
		</li>
	<!--
		<li>
			<span class="submit-tip-button">
				<input name="Submit" type="button" value="Add to your collection" class="submit-tip-button" />
			</span>			
		</li>
	-->
<% end %>
