<% if !@products.nil? %>
	<% @products.each do |product| %>
        <li>
			<div>
			  	<%= image_tag(product.thumbnail.url(:thumb), :size => "45x45") %>
				<div class="left">
					<p><%= link_to product.name, (product) %></p>
				</div>
				<br/>
				<div class="answers-meta">
					<p class="left">
						<span id="response-stat-product-<%= product.id %>"><%= product.responses.size %></span> like | 
						<span id="response-stat-product-<%= product.id %>"><%= pluralize(product.owners.size, 'person') %></span> own
					</p>
				</div>
				<% if product.description.present? %>
				<br/><br/>
				<p>
					<%=h truncate(product.description, :length => 200) %>
				</p>
				<% end %>
				<div class="right">
					<p>
						<% if !@my_collection.nil? %>	
							<%= link_to 'Add', my_collection_my_collection_items_path(@my_collection.id, MyCollectionItem.new, :product_id => product.id), :method => 'post' %>
						<% end %>
					</p>
				</div>				
			</div>
        </li>
	<% end %>
		<li>
			Can't find yours? <%= link_to 'Create one now!', new_product_path(:user => current_user, :my_collection_id => @my_collection.id) %>
		</li>
	<!--
		<li>
			<span class="submit-tip-button">
				<input name="Submit" type="button" value="Add to your collection" class="submit-tip-button" />
			</span>			
		</li>
	-->
<% end %>
