<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Macabolic - <%= 'Add a new product' %></title>
	
  	<%= stylesheet_link_tag "layout.css" %>
  	<%= stylesheet_link_tag "macabolic.css" %>
  	<%= stylesheet_link_tag "reset.css" %>
  	<%= stylesheet_link_tag "scaffold.css" %>
  	<%= stylesheet_link_tag "styles.css" %>
	<%= stylesheet_link_tag "jquery-ui-1.8.17.custom.css" %>
	
	<%= javascript_include_tag "jquery.js" %>
	<%= javascript_include_tag "jquery_ujs.js" %>
	<%= javascript_include_tag "application.js" %>
	<%= javascript_include_tag "jquery.min.js" %>
	<%= javascript_include_tag "jquery.pngFix.js" %>
	<%= javascript_include_tag "jquery.ui.js" %>
	<%= javascript_include_tag "jquery-ui-1.8.17.custom.min.js" %>

  	<%= csrf_meta_tag %>

<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
<!--[if IE 6]>
	<%= stylesheet_link_tag "ie6.css" %>
<![endif]-->
<!--[if IE 7]>
	<%= stylesheet_link_tag "ie7.css" %>	
<![endif]-->

</head>

<style type="text/css">
select {
	width: 200px;
}
</style>
<script type="text/javascript"> 
    $(document).ready(function(){ 
        $(document).pngFix(); 

	    //Input Form placeholder
	    $('input:text').focus(function(){
	        if(this.value === this.defaultValue) {
	            this.value = "";
	        } else {
	            this.select();
	        }
	    })
	    .blur(function(){
	        if ($.trim(this.value) === "") {
	            this.value = (this.defaultValue ? this.defaultValue: "")
	        }
	    });
    }); 

	$(function() {
		$( "#product_name" ).autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "<%= products_path %>",
					dataType: "json",
					data: {
						search: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								label: item.product.name,
								value: item.product.name
							}
						}));
					}
				});
			},
			minLength: 2,
			select: function( event, ui ) {
				$(this).value(ui.item.label);
			},			
			open: function() {
				$(this).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
			},
			close: function() {
				$(this).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
			}
		});

		$( "#vendor_name" ).autocomplete({
			source: function( request, response ) {
				$.ajax({
					url: "<%= find_vendor_searches_path %>",
					dataType: "json",
					data: {
						query: request.term
					},
					success: function( data ) {
						response( $.map( data, function( item ) {
							return {
								label: item.vendor.name,
								value: item.vendor.name
							}
						}));
					}
				});
			},
			minLength: 2,
			select: function( event, ui ) {
				$(this).value(ui.item.label);
			},			
			open: function() {
				$(this).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
			},
			close: function() {
				$(this).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
			}
		});

		$("#my_collection_link img").click(function() {
			// Selected
			$(this).toggleClass('selected-product', true); 
			if ($(this).hasClass('selected-product')) {
				$(this).parents('li').removeClass('not-selected-product');
				$(this).parents('li').siblings().removeClass('selected-product');
				$(this).parents('li').siblings().addClass('not-selected-product');
				$('#my_collection_id').attr('value', $(this).attr("id"))
			} else {
				$(this).parents('li').addClass('not-selected-product');			
			}
		});
	});

</script>


	<div id="black-strip">
		<div>
			<div class="logo-holder">
				<a href="<%= root_url %>"><h1>Macabolic</h1></a>
			</div>				
		</div>
	</div>
	
	<div class="wrapper-popup">
		<%= form_for(@product) do |f| %>
		<div style="background: #f6f1de;overflow: hidden; float:center;"> 
			<div id="question" class="product-grid" style="margin: 17px; border: 0px;">
				<span style="text-align: left; margin-bottom: 10px;"><%= f.label "Add to collection (optional)" %></span>
				<div style="display: block; overflow: visible; margin-bottom: 10px;">						
					<ul>
					<% current_user.my_collections.each do |my_collection| %>
			  			<li id="<%= my_collection.id %>" class="not-selected-product">	
							<%= link_to '#', :id => 'my_collection_link' do %>	
								<%= image_tag my_collection.thumbnail.url(:small), :size => "100x100", :class => "preview-image", :id => my_collection.id, :title => my_collection.name %>
							<% end %>
						</li>
					<% end %>
					</ul>
				</div>
				<br/><br/>
				<div style="display: block; overflow: hidden; float: left;">
					<span style="display: block; overfloat: hidden; float: left; text-align: left; margin-right: 20px;">
						<%= f.label :name %>
						<%= f.text_field :name, :class => "text", :placeholder => "e.g. iPad 3" %><br/><br/>
					</span>
					<span style="display: block; overfloat: hidden; float: left; text-align: left; margin-right: 20px;">
					  	<%= f.label :vendor_id %>
						<%= text_field_tag 'vendor_name', nil, :class => "text", :placeholder => "e.g. Apple Inc." %><br/><br/>
						<%#= select_tag "product[vendor_id]", options_from_collection_for_select(Vendor.all, "id", "name") %>
					</span>
					<span style="display: block; overfloat: hidden; float: left; text-align: left;">
					  	<%= f.label :product_line_id %>
						<%= collection_select(:product, :product_line_id, ProductLine.all, :id, :name, :prompt => true) %><br/><br/>
					</span>
				  	<%#= f.label :description %>
					<%#= f.text_area :description, :cols => 70, :rows => 5, :class=> "answer_area" %><br/><br/>

					<%= hidden_field_tag :my_collection_id %>
					<%= hidden_field_tag "product[uploader_id]", current_user.id %>
		
					<%= f.hidden_field :image_url %>			
					<div class="actions" style="margin-bottom: 15px;">
						<%= f.submit 'Submit', :class => "submit-tip-button" %>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div>    	



