<h1>Editing product</h1>

<% form_for @product, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
	<p><%= label_tag 'name' %>: <%= f.text_field :name %></p>
	<p><%= label_tag 'vendor' %>: <%= collection_select(:product, :vendor_id, @vendors, :id, :name) %></p>
	<p><%= label_tag 'product_line' %>: <%= collection_select(:product, :product_line_id, @product_lines, :id, :name) %></p>
	<p><%= f.file_field :photo %></p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>