<% title @product.name %>
<style type="text/css">
#backgroundPopup {
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#000000;
	border:1px solid #cecece;
	z-index:1;
}
#popupMyCollection {
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
//	width:808px;
	background:#f6f1de;
	border:2px solid #cecece;
	z-index:2;
	padding:12px;
	font-size:13px;
}

#popupMyCollectionClose {
	font-size:14px;
	line-height:14px;
	right:6px;
	top:4px;
	position:absolute;
	color:#5c5c5c;
	font-weight:700;
	display:block;
}
</style>
<script type="text/javascript"> 
//SETTING UP OUR POPUP
//0 means disabled; 1 means enabled;
var popupStatus = 0;

//loading popup with jQuery magic!
function loadPopup(){
	//loads popup only if it is disabled
	if(popupStatus==0){
		$("#backgroundPopup").css( {"opacity": "0.7"} );
		$("#backgroundPopup").fadeIn("slow");
		$("#popupMyCollection").fadeIn("slow");
		popupStatus = 1;
	}
}

//disabling popup with jQuery magic!
function disablePopup(){
	//disables popup only if it is enabled
	if(popupStatus==1){
		$("#backgroundPopup").fadeOut("slow");
		$("#popupMyCollection").fadeOut("slow");
		popupStatus = 0;
	}
}

//centering popup
function centerPopup(){

	//request data for centering
	var windowWidth = document.documentElement.clientWidth;
	var windowHeight = document.documentElement.clientHeight;
	var popupHeight = $("#popupMyCollection").height();
	var popupWidth = $("#popupMyCollection").width();
	//centering
	$("#popupMyCollection").css({
		"position": "absolute",
		"top": windowHeight/2-popupHeight/2,
		"left": windowWidth/2-popupWidth/2
	});
	//only need force for IE6

	$("#backgroundPopup").css( {"height": windowHeight} );
}


$(document).ready(function() {
 	$(document).pngFix(); 

	//Default Action
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content
		
	//On Click Event
	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content
		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active content
		return false;
	});
	
    //Input Form placeholder
    $('input:text').focus(function(){
        if(this.value === this.defaultValue) {
            this.value = "";
        } else {
            this.select();
        }
    })
    .blur(function(){
        if ($.trim(this.value) === "") {
            this.value = (this.defaultValue ? this.defaultValue: "")
        }
    });

	//LOADING POPUP
	//Click the button event!
	$(".do_you_have_one").click(function(){
		$("#interest_indicator").attr('value', 1);
		//centering with css
		centerPopup();
		//load popup
		loadPopup();
	});

	$(".do_you_wish_one").click(function(){
		$("#interest_indicator").attr('value', 2);
		//centering with css
		centerPopup();
		//load popup
		loadPopup();
	});
	
	//CLOSING POPUP
	//Click the x event!
	$("#popupMyCollectionClose").click(function(){
		disablePopup();
	});
	
	//Click out event!
	$("#backgroundPopup").click(function(){
		disablePopup();
	});
	
	//Press Escape event!
	$(document).keypress(function(e){
		if(e.keyCode==27 && popupStatus==1) {
			disablePopup();
		}
	});	
});
</script>

<body class="subpage productpage">

	<div id="grey-strip-signedin">
		<div class="wrapper-top">
			<%= render :partial => 'layouts/navigation', :locals => { :user => @user, :item => "" } %>						
		</div>
	</div>

<div class="wrapper-mh">
	<div class="maincol"> 
    	<div class="product-item sidebar-content">	         
			<div class="product-image">
				<%= render :partial => 'products/product_preview_gallery', :locals => { :product => @product } %>
	        </div>			
	        <div class="product-detail">
	            <div>
					<p class="left"><h3 style="text-align: left;"><%= @product.name %></h3></p>
				</div>
				<p>from <span class="vendor"><%= @product.vendor.name %></span></p>
				<!--<p>Used since: <span>2010</span></p>-->
				<p><%= @product.description %></p>								
				<% if @user.present? || current_user.present? %>
				<% if @user == current_user %>				
	            <p>
					<%# OWN THIS PRODUCT %>
					<% if current_user.own_this_product?(@product) %>
	                <div id="i_own_this">
						<%= link_to "I have one", { :controller => "my_collection_items", :action => "destroy", :product_id => @product.id }, :method => "delete", :remote => true, :class => "button-green checked", :id => "own-this", :title => "I have one", :confirm => "Are you sure? \nThis will remove this product from your collection." %>
					</div>
					<div id="response-product-<%= @product.id %>">
					<% if @product.like?(current_user) %>					
						<%= link_to 'Unlike', unlike_product_path(@product, :user_id => current_user.id), :class => "button-green checked", :id => "own-this", :title => "Unlike", :remote => true %>
					<% else %>
						<%= link_to 'Like', like_product_path(@product, :user_id => current_user.id), :class => "button-green", :id => "add-wishlist", :title => "Like", :remote => true %>
					<% end %>
					</div>						
					<% else %>
						<%# WISH THIS PRODUCT %>
						<% if current_user.wish_this_product?(@product) %>
					<div id="i_own_this">
						<%#= link_to 'Do you have one?', { :controller => "my_collections", :action => "thumbnail_view" }, :class => "button-green", :id => "own-this", :title => "Own one?", :rel => "modelPanel" %>
						<a href="#" id="own-this" class="button-green do_you_have_one">Do you have one?</a>
					</div>
					<div id="wishlist_link">
						<%= link_to 'In my Wishlist already', { :controller => "wishlist_items", :action => "destroy", :product => @product.id }, :method => "delete", :remote => true, :class => "button-green checked", :id => "own-this", :title => "Wanted" %>
					</div>
						<% else %>
					<div id="i_own_this">
						<a href="#" id="own-this" class="button-green do_you_have_one">Do you have one?</a>
					</div>
					<div id="wishlist_link">
						<a href="#" id="own-this" class="button-green do_you_wish_one">Add to Wishlist!</a>
					</div>
						<% end %>														
					<% end %>
				</p>
				<% else %>
				<p>
					<div id="wishlist_link">
						<% if current_user.wish_this_product?(@product) %>
							<%= link_to 'In my Wishlist already', { :controller => "wishlist_items", :action => "destroy", :product => @product.id }, :method => "delete", :remote => true, :class => "button-green checked", :id => "own-this", :title => "Wanted" %>						
						<% else %>
							<a href="#" id="own-this" class="button-green do_you_wish_one">Add to Wishlist!</a>
						<% end %>
					</div>
	            </p>
				<% end %>
				<% end %>
	        </div>
	
	    	<br class="clear" />
	    </div>
		<div style="float: center; width: 556px; margin-bottom: 20px;" class="product-stat-details">
			<%= render 'products/product_stat' %>
		</div>

		<div>
			<%= render :partial => 'questions/ask_a_question', :locals => { :product => @product, :page_id => "Product", :my_collection_item => nil } %>
		</div>

		<div class="tabbed-content-area">			
			<ul class="tabs"> 
		    	<li><a href="#questions">Questions &amp; Answers</a></li> 
		    	<!--<li><a href="#reviews">Reviews</a></li>-->
			</ul> 

    		<div id="questions" class="tab_content"> 
				<%= render :partial => 'questions/product_questions', :locals => { :my_collection_item => nil, :product => @product } %>
		    </div> 
		<!--
		    <div id="reviews" class="tab_content"> 
				<%#= render 'reviews/product_reviews' %>
		    </div>    
		-->
		</div>
	</div>
	
	<div class="sidebar">
		<!-- Recommend a friend -->
		<%= render :partial => 'friendships/friend_search', :locals => { :product => @product } %>

		<% if !@friends_who_owned.nil? %>
		<div class="sidebar-content">				
			<div class="sidebar-header">
				<%= pluralize(@friends_who_owned.size, 'friend') %> own
			</div>	
			<div class="user-grid">
		    	<ul>
				<% @friends_who_owned.each do |person| %>
		  			<li>
						<%= link_to profile_member_path(person) do %>
							<%= image_tag current_profile_image_thumbnail_url(person), :width => 50, :title => person.full_name %>
						<% end %>
					</li>
				<% end %>
				</ul>
			</div>
		</div><!-- #see who has similar products in his network -->			
		<% end %>
		<% if !@friends_who_wished.nil? %>
		<div class="sidebar-content">				
			<div class="sidebar-header">
				<%= pluralize(@friends_who_wished.size, 'friend') %> wish
			</div>	
			<div class="user-grid">
		    	<ul>
				<% @friends_who_wished.each do |person| %>
		  			<li>
						<%= link_to profile_member_path(person) do %>
							<%= image_tag current_profile_image_thumbnail_url(person), :width => 50, :title => person.full_name %>
						<% end %>
					</li>
				<% end %>
				</ul>
			</div>
		</div><!-- #see who has similar products in his network -->			
		<% end %>
		<!--
        <div id="product-tips" class="sidebar-content">
            <div class="sidebar-header">
                Tips
                <ul class="tabs3">
                    <li><a href="#popular" title="Popular">Popular</a></li>
                    <li><a href="#recent" title="Recent">Recent</a></li>
                </ul>
            </div>
            <div class="sidebar-inner">
                <ul id="popular" class="tab_content3">
                    <li>
                        <a href="#" title="Tip title" class="tip-title">Title of the tips goes here...</a><br/>
                        Added by <a href="#" title="username">Willsmith727</a>
                    </li>
                </ul>
                
                <ul id="recent" class="tab_content3">
                    <li>
                        <a href="#" title="Tip title" class="tip-title">Title of the tips goes here...</a><br/>
                        Added by <a href="#" title="username">Willsmith727</a>
                    </li>
                </ul>
            </div>
        </div>
		-->		
		
	</div>
	<div class="sidebar" id="comment-display">			
		<%= render :partial => 'product_comments/show', :locals => { :product => @product } %>
	</div>
</div>
<% if user_signed_in? %>
<div id="popupMyCollection">
	<%= render :partial => "my_collections/thumbnail_view", :locals => { :product_id => @product.id } %>
</div>
<div id="backgroundPopup"></div>
<% end %>
</body>