<% title @product.name %>

<script type="text/javascript"> 
    $(document).ready(function(){ 
        $(document).pngFix(); 
    }); 
</script>

<script type="text/javascript"> 
 
$(document).ready(function() {
 
	//Default Action
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content
	
	//Default Action

	$(".tab_content2").hide(); //Hide all content
	$("ul.tabs2 li:first").addClass("active").show(); //Activate first tab
	$(".tab_content2:first").show(); //Show first tab content

	//Default Action
	$(".tab_content3").hide(); //Hide all content
	$("ul.tabs3 li:first").addClass("active").show(); //Activate first tab
	$(".tab_content3:first").show(); //Show first tab content
	
	//On Click Event
	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content
		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active content
		return false;
	});
	
	//On Click Event
	$("ul.tabs2 li").click(function() {
		$("ul.tabs2 li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content2").hide(); //Hide all tab content
		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active content
		return false;
	});

	//On Click Event
	$("ul.tabs3 li").click(function() {
		$("ul.tabs3 li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content3").hide(); //Hide all tab content
		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active content
		return false;
	});

    //Input Form placeholder
    $('input:text').focus(function(){
        if(this.value === this.defaultValue) {
            this.value = "";
        } else {
            this.select();
        }
    })
    .blur(function(){
        if ($.trim(this.value) === "") {
            this.value = (this.defaultValue ? this.defaultValue: "")
        }
    });
});
</script>

<div id="grey-strip-signedin">
	<div class="wrapper-top">
		<%= render :partial => 'layouts/navigation', :locals => { :user => @user, :item => "Collections" } %>						
	</div>
</div>

<div class="wrapper-mh">
	<div class="maincol"> 
    	<div class="product-item sidebar-content">	         
			<div class="product-image">
				<%= image_tag(@product.thumbnail.url(:medium), :width => "200", :class => "preview-image") %>		  						
	        </div>			
	        <div class="product-detail">
	            <div>
					<p class="left"><h3 style="text-align: left;"><%= @product.name %></h3></p>
				</div>
				<!--
				<p>Description here</p>
				-->
	            <p>
	                <div id="i_own_this">
						<% 
							if current_user.own_this_product?(@product) 
						%>
							<a class="button-green checked" id="own-this" href="" title="Own this">I Own This</a>
						<%
							else
						%>
							<a class="button-green" id="own-this" href="" title="Own this">I Own This?</a>
						<%
							end
						%>														
					</div>
					<div id="wishlist_link">
						<%
							if current_user.wish_this_product?(@product)
						%>
							<%= link_to 'Wanted!', { :controller => "wishlist_items", :action => "destroy", :product => @product.id }, :method => "delete", :remote => true, :class => "button-green checked", :id => "own-this", :title => "Wanted" %>						
						<%
							else
						%>
							<%= link_to 'Wish?', { :controller => "wishlist_items", :action => "create", :product => @product.id }, :method => "post", :remote => true, :class => "button-green", :id => "add-wishlist", :title => "Add To Wishlist" %>
						<%
							end
						%>
					</div>
					<div id="fb-root"></div>
					<script>
					(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) {
							return;
						}
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/en_US/all.js#appId=249685278407440&xfbml=1";
					  	fjs.parentNode.insertBefore(js, fjs);
					}	(document, 'script', 'facebook-jssdk'));
					</script>

					<div class="fb-like" data-href="<%= product_url(@product) %>" data-send="false" data-layout="button_count" data-width="70" data-show-faces="false" data-font="verdana"></div>
					
	            </p>			
	        </div>
			<div class="product-stat-details">
				<ul>
					<li>Questions<span><%= @product.questions.size %></span></li>
					<li class="alt">Reviews<span><%= @product.reviews.size %></span></li>
					<li class="noborder">Tips<span>8</span></li>
					<!--li class="noborder alt">Like<span>5</span></li>-->
				</ul>
			</div>
	
	    	<br class="clear" />
	    </div>

		<div>
			<%= render :partial => 'questions/ask_a_question', :locals => { :product => @product } %>
		</div>

		<div class="tabbed-content-area">			
			<ul class="tabs"> 
		    	<li><a href="#questions">Questions &amp; Answers</a></li> 
		    	<li><a href="#reviews">Reviews</a></li> 
			</ul> 

    		<div id="questions" class="tab_content"> 
				<%= render 'questions/product_questions' %>
		    </div> 
		    <div id="reviews" class="tab_content"> 
				<%= render 'reviews/product_reviews' %>
		    </div>    
		</div>
	</div>
	
	<div class="sidebar">
		<%= render :partial => 'friendships/friend_search', :locals => { :product => @product } %>
		<!--
        <div class="sidebar-content" id="product-stat">
            <div class="sidebar-header">People in your network</div>
            <div class="sidebar-inner">
                <p>
                    Friends Who Own This
                    <strong>10</strong>
                </p>
                <p>
                    Friends Who Want This
                    <strong>6</strong>
                </p>
                <p>
                    Reviews
                    <strong>22</strong>
                </p>
                <p>
                    Tips
                    <strong>34</strong>
                </p>

                <p style="margin-bottom:1px;">
                    Rating
                    <ul class="star-rating">
                        <li><a href='#' title='Rate this 1 star out of 5' class='one-star'>1</a></li>
                        <li><a href='#' title='Rate this 2 stars out of 5' class='two-stars'>2</a></li>
                        <li><a href='#' title='Rate this 3 stars out of 5' class='three-stars'>3</a></li>
                        <li><a href='#' title='Rate this 4 stars out of 5' class='four-stars'>4</a></li>
                        <li><a href='#' title='Rate this 5 stars out of 5' class='five-stars'>5</a></li>
                    </ul>
                </p>
            </div>
        </div>--><!-- #product-stat -->
        
		<!--
		<div class="sidebar-content">
			<div class="sidebar-header">
				Product Image
			</div>	
			<div class="upload-image">
				<%#= image_tag(@product.thumbnail.url(:medium), :width => "200", :class => "preview-image") %>		  	
			</div>
		</div>
		-->
		
		<div class="sidebar-content">				
			<div class="sidebar-header">
				<%= pluralize(@people_who_owned.size, 'person') %> who own
			</div>	
			<div class="user-grid">
		    	<ul>
				<% @people_who_owned.each do |person| %>
		  			<li>
						<%= link_to profile_member_path(person) do %>
							<%= image_tag avatar_url(person, 50), :width => 50, :title => person.full_name %>
						<% end %>
					</li>
				<% end %>
				</ul>
			</div>
		</div><!-- #see who has similar products in his network -->			

		<div class="sidebar-content">				
			<div class="sidebar-header">
				<%= pluralize(@people_who_wished.size, 'person') %> who wish
			</div>	
			<div class="user-grid">
		    	<ul>
				<% @people_who_wished.each do |person| %>
		  			<li>
						<%= link_to profile_member_path(person) do %>
							<%= image_tag avatar_url(person, 50), :width => 50, :title => person.full_name %>
						<% end %>
					</li>
				<% end %>
				</ul>
			</div>
		</div><!-- #see who has similar products in his network -->			
		
		<!--
        <div id="product-tips" class="sidebar-content">
            <div class="sidebar-header">
                Tips
                <ul class="tabs3">
                    <li><a href="#popular" title="Popular">Popular</a></li>
                    <li><a href="#recent" title="Recent">Recent</a></li>
                </ul>
            </div>
            <div class="sidebar-inner">
                <ul id="popular" class="tab_content3">
                    <li>
                        <a href="#" title="Tip title" class="tip-title">Title of the tips goes here...</a><br/>
                        Added by <a href="#" title="username">Willsmith727</a>
                    </li>
                </ul>
                
                <ul id="recent" class="tab_content3">
                    <li>
                        <a href="#" title="Tip title" class="tip-title">Title of the tips goes here...</a><br/>
                        Added by <a href="#" title="username">Willsmith727</a>
                    </li>
                </ul>
            </div>
        </div>
		-->		
		
	</div>
</div>
