<div class="unit on-2 columns" style="border-bottom: 1px solid #aaa;">
	<div class="column" id="my_collection_detail" style="width:200px">
		<img src="<%= @my_collection_detail.product.photo.url(:small) %>" />
	</div>
	<div class="column">
		<h1><b><%= @my_collection_detail.product.name %></b></h1>
		<br/>
		<div id="my_collection_detail_background">
			<p>
				<%= @product.review_summary.avg_ratings %> based on <%= @product.review_summary.number_of_reviews %> reviews.
			</p>
			<br/>
		</div>
		<div>
			<p>You have <%= pluralize(@my_collection_detail.number_of_friends_own_this, 'friend') %> own this.</p>
			<br/>
		</div>
		<div>
			<p align="right">
				<% if !@my_collection_detail.nil? %>
					<%= link_to 'Back', my_collection_detail_path(@my_collection_detail) %>
				<% end %>
			</p>
			<br/>
		</div>
	</div>
</div>
<div style="padding-top: 10px">
	<p align="right"><%= link_to "Write a Review", new_product_review_path(@my_collection_detail.product), :class => "review_button round" %></p>
</div>
<br/>
<% @reviews.each do |review| %>
<div id="review_entry">
	<div class="unit on-3 columns">
		<div class="fixed column" style="width: 70px">
			<img src="<%= review.user.my_profile.photo.url(:small) %>" width="50" height="50">			
		</div>
		<div class="column">
			<p>
				<% 
					number_of_blue_star = review.rating
					number_of_white_star = 5 - review.rating 
					
					number_of_blue_star.times {
				%>
						<%= image_tag("star_blue.png") %>				
				<%
					}
					
					number_of_white_star.times {
				%>
						<%= image_tag("star_white.png") %>
				<%		
					}
				%>				
			</p>
			<p><b><%= review.title %></b></p>
			<p>Written by <%= review.user.display_name %></p>
			<p><%= review.created_at %></p>
		</div>
		<div class="column">
			<p><%= review.content %></p>
		</div>
	</div>
</div>
<% end %>
<br />