<p class="header">Write a Review on <%= @product.name %></p><br/>
<% form_for [@product, @review] do |f| %>
<%= f.error_messages %>
<div id="new_review">
	<div class="unit on-2 columns">
		<div class="fixed column" id="product_image" style="width: 80px">
			<p><img src="<%= @product.photo.url(:thumb) %>" /></p>
		</div>
		<div class="column">
			<table border="0">
				<tbody>
					<tr>
						<td class="row_title"><%= label_tag 'rating' %>: </td>
						<td>
							<%= f.select :rating, "<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option>" %>
						</td>
					</tr>
					<tr>
						<td class="row_title"><%= label_tag 'title' %>: </td>
						<td><%= f.text_field :title, :class => 'review_title' %></td>
					</tr>
					<tr>
						<td class="row_title"><%= label_tag 'review' %>: </td>
						<td><%= f.text_area :content, :class => 'review_content' %></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td class="row_title" colspan="2" align="right">
							<%= f.hidden_field :user_id, :value => current_user.id %>
							<%= f.submit 'Submit' %>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>
<% end %>

