<div class="sidebar-content" id="comment-list">
	<div class="sidebar-header">Comments</div>	
	<div class="sidebar-inner">
    	<ul id="search-list">
			<div id="products">
			<% if !@my_collection_comments.nil? %>
				<% @my_collection_comments.each do |comment| %>
		        <li>
					<div>
						<div class="left">
					  		<%= image_tag(current_profile_image_thumbnail_url(comment.user), :size => "45x45") %>
							<%= link_to comment.user.full_name, member_path(comment.user) %>
							<p><%= comment.lapsed_time %></p>
						</div>
					</div>
					<div>
						<div class="left">										
							<p><%= simple_format h(comment.content) %></p>
						</div>
					</div>
		        </li>
				<% end %>
			<% end %>
			</div>
    	</ul>	
		<div style="margin-top: 10px;">
		<% if user_signed_in? %>	
			<%= render :partial => 'my_collection_comments/form', :local => { :my_collection => @my_collection } %>
		<% else %>
			Please <%= link_to 'log in', user_session_path %> or <%= link_to "sign up", new_registration_path(User.new) %> to leave a comment.
		<% end %>
		</div>
	</div>
</div>
