<div class="footer sticky">
    <div class="wrapper-top">	
    	<p class="footerleft">
			&copy; 2011-2012 Macabolic
			<span class="footer-nav-holder">
				<span class="footer-nav-item"><%= link_to 'About', about_url %></span>
				<span class="footer-nav-item"><a href="http://blog.macabolic.com">Blog</a></span>				
				<span class="footer-nav-item"><%= link_to 'Extra', extra_url %></span>
				<span class="footer-nav-item"><%= link_to 'Contact Us', contact_url %></span>
				<span class="footer-nav-item"><a href="mailto:feedback@macabolic.com">Feedback</a></span>
			</span>
		</p>
    	<p class="footerright">
			Follow Macabolic &nbsp;
			<a id="facebook" href="http://www.facebook.com/macabolic" target="_blank" alt="Macabolic on Facebook">
				<%= image_tag "/images/sitewide/facebook.png", :alt => "facebook", :width => "16", :height => "16", :class => "social" %>
			</a>
			&nbsp;
			<a id="twitter" href="http://twitter.com/macabolic" target="_blank" alt="Follow Macabolic on Twitter">
				<%= image_tag "/images/sitewide/twitter.png", :alt => "twitter", :width => "16", :height => "16", :class => "social" %>
			</a>
    	</p>
    </div>
</div>

<%= render 'layouts/tracking' %>
