<!-- FACEBOOK LIKE BUTTON INITIALIZER -->	
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=<%= FACEBOOK_APP_ID %>";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
<!-- END OF FACEBOOK LIKE BUTTON INITIALIZER-->	

<div id="black-strip">
	<div class="wrapper-top">
		<div class="logo-holder">
			<a href="<%= root_url %>"><h1>Macabolic</h1></a>
		</div>				
		<div class="nav-holder">							
			<ul id="nav">				
				<li><%= link_to 'Win a prize', "/contests/free-apple-tv-2/join?originate=nav" %></li>
				<li><%= link_to 'Discover', discover_home_index_url(:category => "all") %></li>
				<li><%= link_to 'Deals', deals_url %></li>
				<!--<li><%= link_to 'People', people_url %></li>-->
				<% if user_signed_in? %>	
					<li><%= link_to 'Share', new_product_url %></li>
					<!--<li><%#= link_to 'Home', home_index_url %></li>-->
				<% end %>
				<li>
					<% if user_signed_in? %>
						<%= link_to 'Logout', destroy_user_session_path %>	
					<%# elsif controller_name != 'registrations' && controller_name != 'home' && controller_name != 'invitations' && controller_name != 'my_collections' %>	
					<% else %>							
						<% if @user.present? %>
					  		<%= link_to "Sign up", new_registration_path(@user) %>
						<% else %>
							<%= link_to "Sign up", new_registration_path(User.new) %>
						<% end %>
					<%# else %>							
						<%#= link_to 'Login', user_session_path %>
					<% end %>	
				</li>
			</ul>
			<% if user_signed_in? %>
				<div class="user-loggedin">
					Welcome, <%= link_to current_user.full_name, collections_member_path(current_user), :class => "user-name" %>
	      </div>
			<% end %>
			<br/>
			<div>
				<div class="fb-like social" data-href="http://www.macabolic.com" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="verdana"></div>
				<a href="https://twitter.com/macabolic" class="twitter-follow-button social" data-show-count="false">Follow @macabolic</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>			
			</div>
		</div>
	</div>
</div>
