<%
	if item == 'Collections'
		if user != current_user 
			collection = "nav-item-on"
		else
			collection = "home-on"
		end
	elsif item == 'Friends'
		friends = "nav-item-on"
	elsif item == 'Profile'
		profile = "nav-item-on"
	elsif item == 'Home'
		home = "home-on"
	else 
		
	end
%>
<ul id="nav-signedin">
	<% if user.present? %>
		<% if user != current_user %>
		<li class="homerounded" id="<%= home %>">
			<%= link_to "#{user.full_name}'s Home", member_path(user) %>
		</li>
		<li id="<%= collection %>">
			<%= link_to 'Collections', collections_member_path(user) %>
		</li>		
		<% else %>
	<li class="homerounded" id="<%= collection %>">
		<%= link_to 'Collections', collections_member_path(user) %>
	</li>
		<% end %>
	<li id="<%= friends %>">
		<%= link_to 'Friends', friends_member_url(user) %>
	</li>	
	<li id="<%= profile %>">
	<% if user == current_user %>
		<%= link_to "My Profile", profile_member_path(user) %>	
	<% else %>
		<%= link_to "Profile", profile_member_path(user) %>
	<% end %>
	</li>
	<% end %>
    <li id="search-form">
		<%= form_tag find_product_searches_path, :method => :get do %>
			<%= search_field_tag 'query', nil, :placeholder => "Search your product", :autosave => false, :onsearch => true, :results => 1, :size => 100 %>
		<% end %>
    </li>
</ul>