<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Macabolic - <%= yield(:title) || "The best way to meet the Mac community" %></title>
  	<%= stylesheet_link_tag "layout.css" %>
  	<%= stylesheet_link_tag "macabolic.css" %>
  	<%= stylesheet_link_tag "reset.css" %>
  	<%= stylesheet_link_tag "scaffold.css" %>
  	<%= stylesheet_link_tag "styles.css" %>
  	<%= javascript_include_tag :defaults %>
  	<%= csrf_meta_tag %>
<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
<!--[if IE 6]>
	<%= stylesheet_link_tag "ie6.css" %>
<![endif]-->
<!--[if IE 7]>
	<%= stylesheet_link_tag "ie7.css" %>	
<![endif]-->

</head>
<body>
	<div class="wrapper">
		<%= render 'layouts/header' %>

		<div id="grey-strip">
			<div class="wrapper-top">
				<%= render 'layouts/tagline' %>
<!--				
					<ul class="home-featurebutton">
						<li class="home-featurebutton"><a href="http://www.google.com">Feature Tour</a></li>
					</ul>
-->
			</div>
		</div>

		<%= yield %>
		
		<div class="push"></div>
	</div>    
	
	<%= render 'layouts/footer' %>
	
</body>
</html>
