<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>macabolic</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
<!--[if IE 6]>
<link rel="stylesheet" media="screen" type="text/css" href="furniture/css/ie6.css">
<![endif]-->
<!--[if IE 7]>
<link rel="stylesheet" media="screen" type="text/css" href="furniture/css/ie7.css">
<![endif]-->

</head>
<body>
	<div class="wrapper">
		<div id="black-strip">
			<div class="wrapper-top">
				<div class="logo-holder"><h1>Macabolic</h1></div>
				<div class="nav-holder">
					<ul id="nav">
						<li><a href="#" title="About" accesskey="1">About</a></li>
						<li><a href="#" title="Contact" accesskey="2">Contact</a></li>
						<li><a href="#" title="Login" accesskey="3">Login</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div id="grey-strip">
			<div class="wrapper-top">
				<h2>Macabolic is a <span>social network</span> dedicated to mac lovers.</h2>
				<h3>Share your product collections and make new friends</h3>
					<ul class="home-featurebutton">
						<li class="home-featurebutton"><a href="http://www.google.com">Feature Tour</a></li>
					</ul>
			</div>
		</div>

		<%= yield %>
		
		<div class="push"></div>
	</div>    
	<div class="footer sticky">
	    <div class="wrapper-top">
	    	<p class="footerleft">Copyright 2011 Macabolic</p>
	    	<p class="footerright">Follow Macabolic: &nbsp;
				<a href="#"><%= image_tag "/images/sitewide/facebook.png", :alt => "facebook", :width => "16", :height => "16", :class => "social" %></a>&nbsp;
				<a href="#"><%= image_tag "/images/sitewide/twitter.png", :alt => "twitter", :width => "16", :height => "16", :class => "social" %></a>
	    	</p>
	    </div>
	</div>
</body>
</html>
