<div class="sidebar-content account-info">
	<div class="sidebar-header">
    	About <% if @user == current_user %><%= link_to 'Edit', edit_member_path(@user) %><% end %>
	</div>
	<div class="sidebar-inner">					
    	<p class="username">
			<%= image_tag current_profile_image_small_url(@user), :width => "80" %>
    	</p>
    	<p class="username">
    		<strong>Name</strong>
    		<span><%= @user.full_name %></span>
    	</p>
		<% if @user == current_user %>
		<p>
    		<strong>Email</strong>
	  		<%= @user.email %>
		</p>
		<% end %>
		<p>
		    <strong>Birthday</strong>
			<% if @user.birthday.present? %>
		    <%= @user.birthday.strftime("%B %d") %>
			<% else %>
			<%= "N/A" %>
			<% end %>
		</p>		
    <% if user_signed_in? %>
		<% if @user != current_user %>	
		<p>
			<div id="follow-user-<%= @user.id %>">
			<% if current_user.following?(@user) %>					
				<%= link_to 'unfollow', unfollow_member_friendship_path(current_user, @user), :class => "button-green checked", :id => "own-this", :title => "unfollow", :remote => true %>
			<% else %>
				<%= link_to 'follow', follow_member_friendship_path(current_user, @user), :class => "button-green round-button sidebar-button", :id => "add-wishlist", :title => "follow", :remote => true %>
			<% end %>
			</div>
		</p>
		<% end %>
	<% else %>
		<%= link_to 'follow', user_session_path(User.new), :class => "button-green round-button sidebar-button", :id => "add-wishlist", :title => "follow", :remote => true %>
	<% end %>
	</div>

	<div class="sidebar-inner" style="margin-top: 0px">
		<%= render :partial => 'friendships/follow_stat' %>
	</div>
	
</div>
