<div class="sidebar-content account-info">
	<div class="sidebar-header">
    	About <% if @user == current_user %><%= link_to 'Edit', edit_member_path(@user) %><% end %>
	</div>
	<div class="sidebar-inner">					
    	<p class="username">
			<%= image_tag current_profile_image_thumbnail_url(@user), :width => 50, :height => 50 %>
    		<strong>Name</strong>
    		<span><%= @user.full_name %></span>
    	</p>
		<p>
    		<strong>Email</strong>
	  		<%= @user.email %>
		</p>
		<p>
		    <strong>Birthday</strong>
			<% if @user.birthday.present? %>
		    <%= @user.birthday.strftime("%B %d") %>
			<% else %>
			<%= "N/A" %>
			<% end %>
		</p>
		<!--
    	<p><a href="#" title="Delete Account" class="delete-account">Delete Account</a></p>
		-->
	</div>
</div>
