<div>
	<div>
		<%= form_tag products_path, :method => 'get', :id => 'products_search' do %>
			<p>
				<%= text_field_tag :search, params[:search] %>
				<%= submit_tag "Search", :name => nil %>
			</p>
			<div id="products"><%= render 'products/products' %></div>
		<% end %>
	</div>
	<div id="my-collections" align="left">
		<!-- 
			You have no collection now.
			
			1. Add <== /products/search
		-->
		<h3>You have no collections in your profile yet. Add some now.</h3>
	</div>	
	<div id="my-collections" align="left">
		<!-- 
			You have no collection now.
			
			1. Add <== /products/search
		-->
		<% if current_user.has_default_wishlist? %>
			<h3>My Wish List: </h3>
		<% else %>
			<h3>You have no wishlists in your profile yet. Add some now.</h3>
		<% end %>
	</div>	
</div>
<!-- <%= link_to 'Back', members_path %> -->
