<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '%= FACEBOOK_APP_ID', // App ID
      channelUrl : '//<%= HOST %>/facebook/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
<script type="text/javascript"> 
    $(document).ready(function(){ 
        $(document).pngFix();

	    //Input Form placeholder
	    $('input:text').focus(function(){
	        if(this.value === this.defaultValue) {
	            this.value = "";
	        } else {
	            this.select();
	        }
	    })
	    .blur(function(){
	        if ($.trim(this.value) === "") {
	            this.value = (this.defaultValue ? this.defaultValue: "")
	        }
	    });		
    }); 
</script>

<%= form_for(current_user, :url => member_path(current_user), :html => { :class => "home-signupform", :id => "member-profileform" }) do |f| %>
	<% if current_user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(current_user.errors.count, "error") %> prohibited you from being saved:</h2>
			<ul>
				<% current_user.errors.full_messages.each do |msg| %>
				  <li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<div>
	<%= f.label :first_name %><br/>
	<%= f.text_field :first_name, :placeholder => 'First Name' %>
  
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :placeholder => 'Last Name' %>

    <%= f.label :email %><br />
    <%= f.text_field :email, :placeholder => 'Email Address', :disabled => 'disabled' %>

    <%= f.label :birthday %><br />
    <%= f.date_select( :birthday, :order => [:month, :day], :html => { :class => "day" } ) %>
	<br/><br/>
	
	<%= f.label 'Facebook' %><br />
	<%= link_to user_omniauth_authorize_path(:facebook, :type => "connect"), :remote => false do %>			
		<fb:login-button size="large" onlogin="Log.info('onlogin callback')">Connect</fb:login-button>
	<% end %>
	
</div>
<div style="padding-top:15px;">
	<span class="home-signupbutton">
   		<%= submit_tag "Submit" %>
	</span>
 </div>
<% end %>
