<% title 'Edit Profile' %>
<style type="text/css">
div.other_services {	
	margin:2px;
	margin-top: 15px;
	margin-bottom: 10px;
	width: 75px;
	height: auto;
	float:left;
	text-align:center;
	display: inline;
}

div.name {
	text-align:center;
	font-weight:normal;
	margin:2px;
}

.service {
	margin-left: auto;
	margin-right: auto;	
	text-indent: -5000px;
	background-repeat: no-repeat;
	background-position: center center;
	height: 50px;
	width: 50px;
	border: 1px none;
	-webkit-border-radius: 6px;
	-webkit-box-shadow: 0px 2px 1px #ece8d5;
	
}

.service:hover {
	cursor: pointer;
}

.macabolic {	
	background-image: url('/images/auth/macabolic_64.png');		
}

#macabolic {
	display: none;
	margin-top: 10px;
	border-top: 1px; 
}

.facebook {
	background-image: url('/images/auth/facebook_64.png');	
}

.gravatar {
	background-image: url('/images/auth/gravatar_64.png');	
}

#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
}
</style>

<script type="text/javascript"> 
$(document).ready(function(){ 
	$(document).pngFix(); 

	$('.gravatar').click(function() {
		window.open('http://www.gravatar.com/site/login/');
	});
	
	$('.facebook').click(function() {
		window.open('<%= user_omniauth_authorize_path(:facebook) %>');
	});	
	
	$('.macabolic').click(function() {
		$('#macabolic').show();
	});

	/* CONFIG */
	xOffset = -200;
	yOffset = -90;

	$(".service").hover(function(e) {
		if ($(this).hasClass('macabolic')) {
			imagePath = "http://localhost:3001/images/logo.png";
		} else if ($(this).hasClass('facebook')) {
			imagePath = "http://graph.facebook.com/100002983805074/picture?type=large"
		} else if ($(this).hasClass('gravatar')) {
			//imagePath = "http://www.gravatar.com/avatar/2adddb30a29aa7cf2d81eb38e1780599.png?s=180&d=mm"
			imagePath = '<%= avatar_url(current_user, 180) %>';
		}
		
		$("body").append("<p id='preview'><img src='" + imagePath + "' alt='Image preview' /></p>");
		$("#preview")
			.css("top", (e.pageY + xOffset) + "px")
			.css("left", (e.pageX + yOffset) + "px")
			.fadeIn("fast");
	},
	function() {
		$("#preview").remove();
	});
	
	
	$(".service").mousemove(function(e) {
		$("#preview")
			.css("top", (e.pageY + xOffset) + "px")
			.css("left", (e.pageX + yOffset) + "px");
	});

	
}); 
	
</script>


<body class="subpage">
	<div id="grey-strip-signedin">
		<div class="wrapper-top">
			<%= render :partial => 'layouts/navigation', :locals => { :user => @user, :item => "Profile" } %>						
		</div>
	</div>
	
	<div class="wrapper-mh">
		<div class="maincol">		
		</div>

		<div class="sidebar">
	    	<div class="sidebar-content">
				<div class="sidebar-header">Profile Picture</div>
				<div class="sidebar-inner">	
					<%= form_for(current_user, :url => member_path(current_user), :html => { :class => "" }) do |f| %>									
				    <p class="edit-profileimage">
						<%= image_tag avatar_url(current_user, 180), :width => 180 %>
				    </p>
					<div style="height: 120px; border: 1px; margin: 10px 5px; margin-left: auto; margin-right: auto; width: 100%;">
						<div class="other_services">
							<div class="service macabolic">Macabolic</div>
							<div class="name">Macabolic</div>
							<div class="selection"><%= radio_button_tag 'service', 'macabolic' %></div>
						</div>
						<div class="other_services">
							<div class="service facebook"><a href="#">facebook</a></div>
							<div class="name">Facebook</div>
							<div class="selection"><%= radio_button_tag 'service', 'facebook' %></div>
						</div>
						<div class="other_services">
							<div class="service gravatar">gravatar</div>
							<div class="name">Gravatar</div>
							<div class="selection"><%= radio_button_tag 'service', 'gravatar' %></div>
						</div>
					</div>
					<div class="action" style="padding-left: 17px; border: 1px solid black; ">
				    	<%= submit_tag "Save", :class => "button-green" %> 
					</div>
					<% end %>
					<div id="macabolic">
						<div style="margin-left: auto; margin-right: auto; width: 70%; height: 1px; border-bottom: 1px dotted #d4d4d4;"></div>
						<%= form_for(current_user, :url => member_path(current_user), :html => { :multipart => true }) do |f| %>
							<div class="field">
								<%= f.label 'Upload an image' %><br />
								<%= f.file_field :thumbnail %>
								<%= f.submit %>
							</div>
							<div class="actions">
								
							</div>						
						<% end %>
					</div>
				</div>        
			</div>
		</div>
 	</div>
</body>
