<% title 'Edit Profile' %>
<style type="text/css">
div.other_services {	
	margin:2px;
	margin-top: 15px;
	margin-bottom: 10px;
	width: 75px;
	height: auto;
	float:left;
	text-align:center;
	display: inline;
}

div.name {
	text-align:center;
	font-weight:normal;
	margin:2px;
}

.service {
	margin-left: auto;
	margin-right: auto;	
	text-indent: -5000px;
	background-repeat: no-repeat;
	background-position: center center;
	height: 50px;
	width: 50px;
	border: 1px none;
	-webkit-border-radius: 6px;
	-webkit-box-shadow: 0px 2px 1px #ece8d5;	
}

.service:hover {
	cursor: pointer;
}

.macabolic {	
	background-image: url('<%= macabolic_profile_image_url(current_user, ProfileImage::MACABOLIC, :thumb) %>');
}

#macabolic {
	display: none;
	padding-top: 50px;
	margin-top: 10px;
	border-top: 1px; 
}

.facebook {
	background-image: url("<%= facebook_profile_image_url(current_user, ProfileImage::FACEBOOK, 'square') %>");
}

.gravatar {
	background-image: url("<%= gravatar_profile_image_url(current_user, ProfileImage::GRAVATAR, 50) %>");
}

#upload_photo:hover {
	cursor: pointer;
}

</style>

<script type="text/javascript"> 
$(document).ready(function(){ 
	$(document).pngFix(); 
	
	$('#upload_photo').click(function() {
		$('#macabolic').show();
	});
	
	//Default Action
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content
		
	//On Click Event
	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content
		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active content
		return false;
	});
				
}); 
	
</script>


<body class="subpage">
	<div id="grey-strip-signedin">
		<div class="wrapper-top">
			<%= render :partial => 'layouts/navigation', :locals => { :user => @user, :item => "Profile" } %>						
		</div>
	</div>
	
	<div class="wrapper-mh">
		<div class="maincol">		
			<div class="tabbed-content-area">	
				<ul class="tabs"> 
			        <li><a href="#tab1">About myself</a></li> 
	    		</ul> 
	<!-- Tab 1 - Edit Info -->
		        <div id="tab1" class="tab_content"> 
					<ul class="list" style="padding-bottom: 0px; margin-bottom: 0px;">
						<li style="border-bottom: 0px;">
							<div class="userdetails group">
								<%= render 'members/form' %>
							</div>
						</li>
					</ul>
				</div>				
			</div>
		</div>

		<div class="sidebar">
	    	<div class="sidebar-content">
				<div class="sidebar-header">Profile Picture</div>
				<div class="sidebar-inner">	
					<%= form_for(current_user, :url => member_path(current_user), :html => { :class => "" }) do |f| %>									
				    <p class="edit-profileimage">
						<%= image_tag current_profile_image_url(current_user), :width => 180 %>
				    </p>
					<div style="height: 130px; border: 1px; margin: 10px 5px; margin-left: auto; margin-right: auto; width: 100%;">
						<div class="other_services">
							<div class="service macabolic">macabolic</div>
							<div class="name">Macabolic</div>
							<div class="selection">
								<%= radio_button 'user', 'profile_image_id', current_user.profile_image(ProfileImage::MACABOLIC).nil? ? nil : current_user.profile_image(ProfileImage::MACABOLIC).id %>								
							</div>
						</div>
						<div class="other_services">
							<div class="service facebook">facebook</div>
							<div class="name">Facebook</div>
							<div class="selection">
								<%= radio_button 'user', 'profile_image_id', current_user.profile_image(ProfileImage::FACEBOOK).nil? ? nil : current_user.profile_image(ProfileImage::FACEBOOK).id %>
							</div>
						</div>
						<div class="other_services">
							<div class="service gravatar">gravatar</div>
							<div class="name">Gravatar</div>
							<div class="selection">
								<%= radio_button 'user', 'profile_image_id', current_user.profile_image(ProfileImage::GRAVATAR).nil? ? nil : current_user.profile_image(ProfileImage::GRAVATAR).id %>
							</div>
						</div>
						<div style="float: right; border: 1px; padding-bottom: 10px; color: #999999">
							<span id="upload_photo">+ Click to upload a file</span>
						</div>	
					</div>
					<div style="padding-left: 17px; padding-bottom: 10px; border: 1px; float: right">
				    	<%= submit_tag "Save", :class => "button-green" %> 
					</div>
					<% end %>
					<div id="macabolic">
						<div style="margin-left: auto; margin-right: auto; width: 100%; height: 1px; border-bottom: 1px dotted #d4d4d4;"></div>
						<%= form_for(current_user, :url => member_path(current_user), :html => { :multipart => true }) do |f| %>
							<div class="field">
								<%= f.label 'Upload an image' %><br />
								<%= f.file_field :avatar %>
								<span style="color: #999999; font-size: 11px;">(Maximum size of 700k. JPG, GIF, PNG.)</span>
							</div>
							<div style="padding-top: 10px; padding-left: 17px; padding-bottom: 10px; border: 1px; float: right">
								<%= submit_tag "Upload", :class => "button-green" %>								
							</div>						
						<% end %>
					</div>
				</div>        
			</div>
		</div>
 	</div>
</body>
