<% title 'Profile'%>
<script type="text/javascript"> 
    $(document).ready(function(){ 
        $(document).pngFix(); 
    }); 
</script>

<script type="text/javascript"> 
 
$(document).ready(function() {
 
	//Default Action
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content
	
	//Default Action
	$(".tab_content2").hide(); //Hide all content
	$("ul.tabs2 li:first").addClass("active").show(); //Activate first tab
	$(".tab_content2:first").show(); //Show first tab content
	
	//On Click Event
	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content
		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active content
		return false;
	});
	
	//On Click Event
	$("ul.tabs2 li").click(function() {
		$("ul.tabs2 li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content2").hide(); //Hide all tab content
		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active content
		return false;
	});

    //Input Form placeholder
    $('input:text').focus(function(){
        if(this.value === this.defaultValue) {
            this.value = "";
        } else {
            this.select();
        }
    })
    .blur(function(){
        if ($.trim(this.value) === "") {
            this.value = (this.defaultValue ? this.defaultValue: "")
        }
    });
});
</script>


<body class="subpage">

	<div id="grey-strip-signedin">
		<div class="wrapper-top">
			<%= render :partial => 'layouts/navigation', :locals => { :user => @user, :item => "Profile" } %>						
		</div>
	</div>
	
	<div class="wrapper-mh">
		<div class="maincol">		
			<div class="tabbed-content-area">	
				<ul class="tabs">
				<% if @user == current_user %> 
			        <li><a href="#tab1">My Updates</a></li> 
					<li><a href="#tab2">My Discovery</a></li>
				<% else %>
					<li><a href="#tab1">Updates</a></li> 
					<li><a href="#tab2">Discovery</a></li>
				<% end %>
			<!--
			        <li><a href="#tab2">Recent Answers</a></li> 
			        <li><a href="#tab3">Recent Tips</a></li> 
			        <li><a href="#tab4">Friends Recent Collections</a></li> 
			-->
	    		</ul> 
    
        		<div id="tab1" class="tab_content"> 
					<%= render :template => "activities/show", :locals => { :activities => @activities } %>
        		</div> 
        		<div id="tab2" class="tab_content product-grid group"> 
					<%= render :partial => "members/discovered_products", :locals => { :discovered_products => @discovered_products } %>
        		</div> 
			</div>		
		</div>
		
		<div class="sidebar">
			<%= render :partial => 'account_info' %>
			
			<%= render :partial => 'invitations/form', :locals => { :invitation => Invitation.new } %>
        <!--
			<div class="wishlist">
				<div id="slider" class="nivoSlider">
					<%#= image_tag "/images/membershomepage/wishlist-image.jpg", :alt => "Wishlist item", :width => "200", :height => "130", :title => "#htmlcaption" %>
					<%#= image_tag "/images/membershomepage/wishlist-image2.jpg", :alt => "Wishlist item 2", :width => "200", :height => "130", :title => "#htmlcaption2" %>
       			</div>            
				<div id="htmlcaption" class="nivo-html-caption">
					<h3>Dave's Wishlist 2011</h3>
					<span>by <a href="#">Dave Williamson</a></span>
					<p>This is a brief description about my wishlist shown above. It will only be about three lines long...</p>
				</div>            
				<div id="htmlcaption2" class="nivo-html-caption">
					<h3>Billy's Wishlist</h3>
					<span>by <a href="#">BillyCheng</a></span>
					<p>This is a brief description about my wishlist shown above. It will only be about three lines long...</p>
				</div>				
			</div>			
		-->
		</div>
 	</div>

</body>
<!-- 
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
        effect:'fade', //Specify sets like: 'fold,fade,sliceDown'
        slices:15,
        animSpeed:500, //Slide transition speed
        pauseTime:15000,
        startSlide:0, //Set starting Slide (0 index)
        directionNav:true, //Next & Prev
        directionNavHide:false, //Only show on hover
        controlNav:false, //1,2,3...
        controlNavThumbs:false, //Use thumbnails for Control Nav
        controlNavThumbsFromRel:false, //Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', //Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
        keyboardNav:true, //Use left & right arrows
        pauseOnHover:true, //Stop animation while hovering
        manualAdvance:true, //Force manual transitions
        captionOpacity:1.0, //Universal caption opacity
        beforeChange: function(){},
        afterChange: function(){},
        slideshowEnd: function(){}, //Triggers after all slides have been shown
        lastSlide: function(){}, //Triggers when last slide is shown
        afterLoad: function(){} //Triggers when slider has loaded
    });
});
</script>
-->