<%#= stylesheet_link_tag "nivo-slider-wishlist.css" %>
<%#= javascript_include_tag :all %>

<script type="text/javascript"> 
    $(document).ready(function(){ 
        $(document).pngFix(); 
    }); 
</script>

<script type="text/javascript"> 
 
$(document).ready(function() {
 
	//Default Action
	$(".tab_content").hide(); //Hide all content
	$("ul.tabs li:first").addClass("active").show(); //Activate first tab
	$(".tab_content:first").show(); //Show first tab content
	
	//On Click Event
	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active"); //Remove any "active" class
		$(this).addClass("active"); //Add "active" class to selected tab
		$(".tab_content").hide(); //Hide all tab content
		var activeTab = $(this).find("a").attr("href"); //Find the rel attribute value to identify the active tab + content
		$(activeTab).fadeIn(); //Fade in the active content
		return false;
	});
	    
    //Input Form placeholder
    $('input:text').focus(function(){
        if(this.value === this.defaultValue) {
            this.value = "";
        } else {
            this.select();
        }
    })
    .blur(function(){
        if ($.trim(this.value) === "") {
            this.value = (this.defaultValue ? this.defaultValue: "")
        }
    });
    
});
</script>

<% title 'Home' %>
<body class="subpage">
	<div id="grey-strip-signedin">
		<div class="wrapper-top">
			<%= render :partial => 'layouts/navigation', :locals => { :user => @user, :item => "Home" } %>						
		</div>
	</div>
	<!-- ====================================================================================================== -->
	<div class="wrapper-mh">
		<div class="maincol">
			<%= render 'members/profile_stat' %>
			<div class="tabbed-content-area">
				<ul class="tabs"> 
        			<li><a href="#tab1">All Updates</a></li> 
    			</ul> 
    		
		        <div id="tab1" class="tab_content"> 
					<%= render :template => "activities/show", :locals => { :activities => @activities } %>
		        </div> 	
			</div>
		</div>
		<div class="sidebar">
			<%= render :partial => 'my_collection_items/ask_a_question', :locals => { :page_id => "Home" } %>

			<%= render :partial => 'invitations/form', :locals => { :invitation => Invitation.new } %>

		</div>
	</div>
</body>
